# Agenda

1. NumPy
2. Pandas series
3. Data frames
4. Indexes, sorting, grouping
5. Dates and times
6. Optimtizing speed +memory
7.

In [1]:
x = 0

import sys
sys.getsizeof(x)

28

In [2]:
x = 123_456_789 ** 100

In [3]:
type(x)

int

In [4]:
sys.getsizeof(x)

384

In [5]:
import numpy as np

In [6]:
a = np.array([10, 20, 30])

In [7]:
a

array([10, 20, 30])

In [8]:
type(a)

numpy.ndarray

In [9]:
a[0]

10

In [10]:
type(a[0])

numpy.int64

In [11]:
# methods

a = np.array([10, 20, 30, 40, 50, 60, 70, 80])

In [12]:
a.mean()

45.0

In [13]:
a.std()

22.9128784747792

In [14]:
a.min()

10

In [15]:
a.max()

80

In [16]:
a.sum()

360

In [17]:
np.mean(a)

45.0

In [18]:
a

array([10, 20, 30, 40, 50, 60, 70, 80])

In [19]:
mylist1 = [10, 20,30]
mylist2 = [40, 50, 60]

mylist1 + 3

TypeError: can only concatenate list (not "int") to list

In [20]:
mylist1 + mylist2

[10, 20, 30, 40, 50, 60]

In [21]:
a

array([10, 20, 30, 40, 50, 60, 70, 80])

In [22]:
# broadcasting 
a + 3

array([13, 23, 33, 43, 53, 63, 73, 83])

In [23]:
a ** 2

array([ 100,  400,  900, 1600, 2500, 3600, 4900, 6400])

In [24]:
a / 4   # truediv -- floats are returned, even from ints

array([ 2.5,  5. ,  7.5, 10. , 12.5, 15. , 17.5, 20. ])

In [25]:
a // 4   # floordiv -- returns ints, truncating the fractional part

array([ 2,  5,  7, 10, 12, 15, 17, 20])

In [26]:
type((a/4)[0])

numpy.float64

In [27]:
a.size

8

In [28]:
sys.getsizeof(a)

176

In [29]:
a

array([10, 20, 30, 40, 50, 60, 70, 80])

In [30]:
a + a

array([ 20,  40,  60,  80, 100, 120, 140, 160])

In [31]:
a + a*2

array([ 30,  60,  90, 120, 150, 180, 210, 240])

In [32]:
b = np.array([100, 200, 300])

a + b

ValueError: operands could not be broadcast together with shapes (8,) (3,)

In [33]:
a

array([10, 20, 30, 40, 50, 60, 70, 80])

In [34]:
a

array([10, 20, 30, 40, 50, 60, 70, 80])

In [35]:
a[2] = 999
a

array([ 10,  20, 999,  40,  50,  60,  70,  80])

In [36]:
a.dtype

dtype('int64')

In [37]:
a[2] = 123.456

In [38]:
a

array([ 10,  20, 123,  40,  50,  60,  70,  80])

In [39]:
a[3] = '456'

In [40]:
a

array([ 10,  20, 123, 456,  50,  60,  70,  80])

In [41]:
a[4] = 'hello'

ValueError: invalid literal for int() with base 10: 'hello'

In [42]:
# type -- Python type (NumPy array, str, int, float, etc.)
# dtype -- the NumPy type that is used in the array

In [43]:
a.dtype

dtype('int64')

In [44]:
# other ways to create NumPy arrays

a = np.arange(0, 10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [45]:
a = np.arange(0, 20, 3)
a

array([ 0,  3,  6,  9, 12, 15, 18])

In [46]:
# random ints
np.random.randint(0, 100, 10)   # 10 random ints from 0-100

array([98, 61, 34, 77, 43, 84, 55, 12, 42, 83])

In [47]:
# random floats
np.random.rand(10)  # returns 10 floats between 0-1

array([0.94026983, 0.00864543, 0.18218215, 0.41555072, 0.3276063 ,
       0.97107167, 0.76853173, 0.61133973, 0.90086217, 0.06216901])

In [48]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [49]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

# Exercise: Simple NumPy arrays

1. Create a 3-element NumPy array with your birthday.
2. Change the year to be this year.
3. What is the type of the array? What is the dtype of the array? What is the type of the year?
4. Create an array with 10 random ints from 0-100.
5. Find the mean and std of these numbers.
6. Create an array of 10 random floats from 0-100.
7. Find the mean and std. Are they similar to the ints?

GitHub repo to see my Jupyter notebook:

https://github.com/reuven/apple-2024-q4-data

In [51]:
a = np.array([14, 7, 1970])
a

array([  14,    7, 1970])

In [52]:
type(a)

numpy.ndarray

In [53]:
type(a[0])

numpy.int64

In [54]:
type(a[2])

numpy.int64

In [55]:
a[2] = 2024

In [56]:
a

array([  14,    7, 2024])

In [57]:
type(a[2])

numpy.int64

In [63]:
np.random.seed(0)
a = np.random.randint(0, 100, 10)
a

array([44, 47, 64, 67, 67,  9, 83, 21, 36, 87])

In [64]:
a.mean()

52.5

In [65]:
a.std()

24.3567239176372

In [66]:
np.random.seed(0)
a = np.random.rand(10) * 100
a

array([54.88135039, 71.51893664, 60.27633761, 54.4883183 , 42.36547993,
       64.58941131, 43.75872113, 89.17730008, 96.36627605, 38.34415188])

In [67]:
a.mean()

61.57662833145425

In [68]:
a.std()

18.447489445957164

# Jupyter 

1. Edit mode, when what I type goes into the cell. To enter edit mode, press ENTER or click in the cell.
2. Command mode, when what I type tells Jupyter to do something.  To enter command mode, press ESC or click to the left.

What commands do I have?
- `c` -- copy
- `x` -- cut
- `v` -- paste
- `m` -- Markdown mode (documentation)
- `y` -- code (Python) mode
- `r` -- raw mode, without any formatting
- `a` -- new cell *above* the current
- `b` -- new cell *below* the current

To execute the current cell (execute code or generate HTML from Markdown), use shift+ENTER.

In [69]:
np.random.seed(0)
a = np.random.randint(0, 1000, 15)
a

array([684, 559, 629, 192, 835, 763, 707, 359,   9, 723, 277, 754, 804,
       599,  70])

In [70]:
a[3]

192

In [71]:
a[5]

763

In [72]:
# fancy indexing
a[ [3, 5] ]

array([192, 763])

In [73]:
a[[3,5,3,5]]

array([192, 763, 192, 763])

In [74]:
a[[100, 100]]

IndexError: index 100 is out of bounds for axis 0 with size 15

In [76]:
b = np.array([10, 20, 30])
b

array([10, 20, 30])

In [77]:
# boolean array / mask array

b[[True, True, False]]

array([10, 20])

In [78]:
b[[True, False, True]]

array([10, 30])

In [79]:
a

array([684, 559, 629, 192, 835, 763, 707, 359,   9, 723, 277, 754, 804,
       599,  70])

In [80]:
a + 5

array([689, 564, 634, 197, 840, 768, 712, 364,  14, 728, 282, 759, 809,
       604,  75])

In [81]:
a * 100

array([68400, 55900, 62900, 19200, 83500, 76300, 70700, 35900,   900,
       72300, 27700, 75400, 80400, 59900,  7000])

In [82]:
a == 100

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [83]:
a == 192

array([False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False])

In [84]:
a[a==192]

array([192])

In [85]:
a[a > 500]

array([684, 559, 629, 835, 763, 707, 723, 754, 804, 599])

In [86]:
a[a > a.mean()]

array([684, 559, 629, 835, 763, 707, 723, 754, 804, 599])

# Exercises with boolean indexes

1. Create an array with 20 random ints from 0-100.
2. Find the largest even number.
3. Find the mean of the odd numbers.
4. Find the mean of the numbers that are less than the mean - std.

In [87]:
np.random.seed(0)
a = np.random.randint(0, 100, 20)
a

array([44, 47, 64, 67, 67,  9, 83, 21, 36, 87, 70, 88, 88, 12, 58, 65, 39,
       87, 46, 88])

In [91]:
a[a % 2 == 0].max()

88

In [93]:
a[a % 2 == 1].mean()

57.2

In [96]:
a[a%2]  # fancy indexing

array([44, 47, 44, 47, 47, 47, 47, 47, 44, 47, 44, 44, 44, 44, 44, 47, 47,
       47, 44, 44])

In [98]:
a[a%2 == 1]

array([47, 67, 67,  9, 83, 21, 87, 65, 39, 87])

In [102]:
a[a < a.mean() - a.std()]

array([ 9, 21, 12])

In [109]:
# combining conditions

# I want even numbers greater than the mean

a[(a % 2 == 0)  & (a > a.mean())]

array([64, 70, 88, 88, 88])

In [105]:
x = 0

if x:
    print('True-ish')
else:
    print('False-ish')

False-ish

In [110]:
# or: find even numbers *or* those greater than the mean
a[(a % 2 == 0)  | (a > a.mean())]

array([44, 64, 67, 67, 83, 36, 87, 70, 88, 88, 12, 58, 65, 87, 46, 88])

# Exercise: Complex conditions

1. Create an array with 20 random ints 0-1,000.
2. What is the smallest even number greater than the mean?
3. Show all numbers that are \< mean-std or \> mean+std.
4. Show odd numbers that are less than the mean, and even numbers that are greater than the mean.

In [114]:
np.random.seed(0)
a = np.random.randint(0, 1000, 20)

a[(a % 2 == 0) & 
  (a > a.mean())].min()

600

In [115]:
a[(a < a.mean() - a.std()) |
  (a > a.mean() + a.std())]

array([192, 835,   9, 277, 804,  70])

In [119]:
a[((a % 2 == 1) & (a < a.mean())) | 
  ((a % 2 == 0) & (a > a.mean()))]

array([684, 359,   9, 277, 754, 804, 600])

In [120]:
np.__version__

'1.26.4'

In [121]:
a = np.array([10, 20, 30])
a.dtype

dtype('int64')

In [122]:
np.int64

numpy.int64

In [123]:
np.dtype('int64')

dtype('int64')

In [124]:
a = np.array([10, 20, 30], dtype=np.int8)
a

array([10, 20, 30], dtype=int8)

In [125]:
a + 5

array([15, 25, 35], dtype=int8)

In [126]:
a * 5

array([  50,  100, -106], dtype=int8)

In [129]:
a = np.array([10, 20, 30], dtype=np.uint8)
a * 5

array([ 50, 100, 150], dtype=uint8)

In [130]:
a * 200

array([208, 160, 112], dtype=uint8)

In [131]:
a = np.array([10.5, 20.5, 30.5])
a

array([10.5, 20.5, 30.5])

In [132]:
a.dtype

dtype('float64')

In [133]:
a = np.array([10.5, 20.5, 30.5], dtype=np.float16)

In [134]:
a

array([10.5, 20.5, 30.5], dtype=float16)

In [135]:
a + 0.1

array([10.6, 20.6, 30.6], dtype=float16)

In [136]:
a = np.array([10.0, 20.1, 30.2], dtype=np.float16)

In [137]:
a

array([10. , 20.1, 30.2], dtype=float16)

In [138]:
a + 0.1

array([10.1 , 20.19, 30.3 ], dtype=float16)

In [139]:
0.1 + 0.2

0.30000000000000004

In [140]:
a

array([10. , 20.1, 30.2], dtype=float16)

In [141]:
a ** 100

/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_82353/2476672097.py:1: RuntimeWarning: overflow encountered in power
  a ** 100

array([inf, inf, inf], dtype=float16)

In [142]:
-a ** 99

/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_82353/2238870513.py:1: RuntimeWarning: overflow encountered in power
  -a ** 99

array([-inf, -inf, -inf], dtype=float16)

In [143]:
1_000_000.1 + 1_000_000.2

2000000.2999999998

In [145]:
0.1 + 0.2 == 0.3

False

In [146]:
round(0.1 + 0.2, 3) == 0.3

True

In [148]:
a = np.array([123.856, 789.123, 246.757])
a.round()

array([124., 789., 247.])

In [149]:
a.round(2)

array([123.86, 789.12, 246.76])

In [152]:
a = np.array('hello to everyone out there'.split())
a

array(['hello', 'to', 'everyone', 'out', 'there'], dtype='<U8')

In [153]:
a[0] = 'abcdefghijklmnop'

In [154]:
a

array(['abcdefgh', 'to', 'everyone', 'out', 'there'], dtype='<U8')

In [155]:
%pip install -U numpy

Requirement already satisfied: numpy in /Users/reuven/.pyenv/versions/3.12.2/lib/python3.12/site-packages (1.26.4)
Collecting numpy
  Using cached numpy-2.1.1-cp312-cp312-macosx_14_0_x86_64.whl.metadata (60 kB)
Using cached numpy-2.1.1-cp312-cp312-macosx_14_0_x86_64.whl (6.6 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.4
    Uninstalling numpy-1.26.4:
      Successfully uninstalled numpy-1.26.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires joblib~=1.1.0, but you have joblib 1.4.2 which is incompatible.
contourpy 1.2.0 requires numpy<2.0,>=1.20, but you have numpy 2.1.1 which is incompatible.
shapely 2.0.3 requires numpy<2,>=1.14, but you have numpy 2.1.1 which is incompatible.
scipy 1.12.0 requires numpy<1.29.0,>=1.22.4, but you have numpy 2.1.1 which is incompatible.
pywavelets 1.5.0 requires numpy<2.0,>=1.22.4, but you have numpy 2.1.1 which is incompatible.
Successfully installed numpy-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np

In [4]:
a = np.array([10, 20, 30], dtype=np.int8)
a

array([10, 20, 30], dtype=int8)

In [5]:
a + 100

array([ 110,  120, -126], dtype=int8)

In [6]:
a * 300

OverflowError: Python integer 300 out of bounds for int8

In [7]:
a * 127

array([-10, -20, -30], dtype=int8)

In [9]:
a.dtype = np.int16

ValueError: When changing to a larger dtype, its size must be a divisor of the total size in bytes of the last axis of the array.

In [13]:
a = np.array([10, 20, 30, 40, 50], dtype=np.int16)

In [11]:
a

array([10, 20, 30, 40, 50], dtype=int8)

In [14]:
a.dtype = np.int8
a

array([10,  0, 20,  0, 30,  0, 40,  0, 50,  0], dtype=int8)

In [16]:
a.dtype = np.float16

In [17]:
a

array([6.0e-07, 1.2e-06, 1.8e-06, 2.4e-06, 3.0e-06], dtype=float16)

In [18]:
# how should we switch dtypes?

a = np.array([10, 20, 30, 40, 50], dtype=np.int16)
a.astype(np.float16)  # returns a new NumPy array -- doesn't change the origin

array([10., 20., 30., 40., 50.], dtype=float16)

In [19]:
# we can assign back to the original value
a = a.astype(np.float16)

In [20]:
a

array([10., 20., 30., 40., 50.], dtype=float16)

# Exercise: dtypes

1. Define a NumPy array of 20 floats from 0-1,000.
2. Find all of the numbers whose integer portion is even, calculate their mean, and replace all of the odd numbers with that value.

In [22]:
np.random.seed(0)
a = np.random.rand(20) * 1000
a

array([548.81350393, 715.18936637, 602.76337607, 544.883183  ,
       423.65479934, 645.89411307, 437.58721126, 891.77300078,
       963.6627605 , 383.44151883, 791.72503808, 528.89491975,
       568.04456109, 925.59663829,  71.0360582 ,  87.1292997 ,
        20.21839744, 832.61984555, 778.15675095, 870.01214825])

In [28]:
a[a.astype(np.int64) % 2 == 1] = a[a.astype(np.int64) % 2 == 0].mean()
a

array([548.81350393, 588.26740956, 602.76337607, 544.883183  ,
       588.26740956, 588.26740956, 588.26740956, 588.26740956,
       588.26740956, 588.26740956, 588.26740956, 528.89491975,
       568.04456109, 588.26740956, 588.26740956, 588.26740956,
        20.21839744, 832.61984555, 778.15675095, 870.01214825])

In [29]:
a = np.array([10, 20, 30, 40, 50, 60])

a[ [2, 4] ]

array([30, 50])

In [30]:
a[ [2, 4] ] = 999
a

array([ 10,  20, 999,  40, 999,  60])

In [31]:
a = np.array([10, 20, 30, 40, 50, 60])
a[[True, False, True, False, True, False]]

array([10, 30, 50])

In [32]:
a[[True, False, True, False, True, False]] = 999
a

array([999,  20, 999,  40, 999,  60])

In [33]:
a = np.array([10, 20, 30, 40, 50, 60])
a[[True, False, True, False, True, False]] * 999

array([ 9990, 29970, 49950])