# Agenda

1. Indexes + multi-indexes
2. Sorting
3. Grouping
4. Pivot table

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('taxi.csv')

In [3]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [4]:
df.set_index('tpep_pickup_datetime')

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [5]:
(
    df
    .set_index('tpep_pickup_datetime')
    .loc['2015-06-01 00:13:02']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:13:02,1,2015-06-01 00:23:57,1,2.10,-73.986092,40.730488,1,N,-73.991432,40.744259,1,9.5,0.5,0.5,2.15,0.00,0.3,12.95
2015-06-01 00:13:02,2,2015-06-01 00:40:35,5,8.95,-74.000099,40.733120,1,N,-73.876839,40.748112,2,28.5,0.5,0.5,0.00,5.54,0.3,35.34
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80

In [6]:
(
    df
    .set_index('tpep_pickup_datetime')
    .loc['2015-06-01abc 00:13:02']
)

KeyError: '2015-06-01abc 00:13:02'

In [7]:
df = df.set_index('tpep_pickup_datetime')

In [8]:
df.reset_index()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [9]:
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [10]:
df = df.reset_index()
df.head()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [11]:
df.set_index(['VendorID', 'passenger_count'])

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
2        1                2015-06-02 11:19:29   2015-06-02 11:47:52
         1                2015-06-02 11:19:30   2015-06-02 11:27:56
         1                2015-06-02 11:19:31   2015-06-02 11:30:30
         1                2015-06-02 11:19:31   2015-06-02 11:39:02
1        1                2015-06-02 11:19:32   2015-06-02 11:32:49
...                                       ...                   ...
         1                2015-06-01 00:12:59   2015-06-01 00:24:18
         1                2015-06-01 00:12:59   2015-06-01 00:28:16
2        1                2015-06-01 00:13:00   2015-06-01 00:37:25
         6                2015-06-01 00:13:02   2015-06-01 00:19:10
1        1                2015-06-01 00:13:04   2015-06-01 00:36:33

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
2        1                         1.63        -73.954430        40.764141
         1                         0.46        -73.971443        40.758942
         1                         0.87        -73.978111        40.738434
         1                         2.13        -73.945892        40.773529
1        1                         1.40        -73.979088        40.776772
...                                 ...               ...              ...
         1                         2.70        -73.947792        40.814972
         1                         4.50        -74.004066        40.747818
2        1                         5.59        -73.994377        40.766102
         6                         1.54        -73.978302        40.748531
1        1                         5.80        -73.983215        40.726414

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
2        1                         1                  N         -73.974754
         1                         1                  N         -73.978539
         1                         1                  N         -73.990273
         1                         1                  N         -73.971527
1        1                         1                  N         -73.982162
...                              ...                ...                ...
         1                         1                  N         -73.973358
         1                         1                  N         -73.953758
2        1                         1                  N         -73.903206
         6                         1                  N         -73.989166
1        1                         1                  N         -73.924133

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
2        1                       40.754093             2         17.0    0.0
         1                       40.761909             1          6.5    0.0
         1                       40.745438             1          8.0    0.0
         1                       40.760330             1         13.5    0.0
1        1                       40.758999             2          9.5    0.0
...                                    ...           ...          ...    ...
         1                       40.783638             2         11.0    0.5
         1                       40.779285             1         16.0    0.5
2        1                       40.750546             2         21.0    0.5
         6                       40.762852             2          6.5    0.5
1        1                       40.701645             1         21.0    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
2        1                    0.5        0.00           0.0
         1                    0.5        1.00           0.0
         1                    0.5        2.20           0.0
         1                    0.5        2.86           0.0
1        1                    0.5        0.00           0.0
...                           ...         ...           ...
         1                    0.5        0.00           0.0
         1                    0.5        3.00           0.0
2        1                    0.5        0.00           0.0
         6                    0.5        0.00           0.0
1        1                    0.5        4.45           0.0

                          improvement_surcharge  total_amount
VendorID passenger_count
2        1                                  0.3         17.80
         1                                  0.3          8.30
         1                                  0.3         11.00
         1                                  0.3         17.16
1        1                                  0.3         10.30
...                                         ...           ...
         1                                  0.3         12.30
         1                                  0.3         20.30
2        1                                  0.3         22.30
         6                                  0.3          7.80
1        1                                  0.3         26.75

[9999 rows x 17 columns]

In [12]:
(
    df
    .set_index(['VendorID', 'passenger_count'])
    .loc[2]

)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,
1,2015-06-02 11:19:29,2015-06-02 11:47:52,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
1,2015-06-02 11:19:31,2015-06-02 11:30:30,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
1,2015-06-02 11:19:31,2015-06-02 11:39:02,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
1,2015-06-02 11:19:36,2015-06-02 11:45:19,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.0,0.3,15.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2015-06-01 00:13:42,2015-06-01 00:34:32,6.07,-73.979309,40.723488,1,N,-73.958405,40.673611,1,20.0,0.5,0.5,5.32,0.0,0.3,26.62
1,2015-06-01 00:13:43,2015-06-01 00:21:49,1.48,-73.988739,40.756950,1,N,-73.976860,40.743309,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
1,2015-06-01 00:13:45,2015-06-01 00:36:43,6.37,-74.006752,40.744141,1,N,-73.922806,40.764030,2,22.0,0.5,0.5,0.00,0.0,0.3,23.30
1,2015-06-01 00:13:00,2015-06-01 00:37:25,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
6,2015-06-01 00:13:02,2015-06-01 00:19:10,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80

In [13]:
(
    df
    .set_index(['VendorID', 'passenger_count'])
    .loc[1]

)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,
1,2015-06-02 11:19:32,2015-06-02 11:32:49,1.4,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
1,2015-06-02 11:19:33,2015-06-02 11:28:48,1.4,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
1,2015-06-02 11:19:34,2015-06-02 11:38:46,1.8,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
4,2015-06-02 11:19:35,2015-06-02 12:36:46,11.9,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
1,2015-06-02 11:19:38,2015-06-02 11:23:50,0.6,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2015-06-01 00:13:39,2015-06-01 00:18:22,0.9,-73.997124,40.747105,1,N,-73.986977,40.756107,1,5.5,0.5,0.5,1.70,0.00,0.3,8.50
1,2015-06-01 00:13:47,2015-06-01 00:33:03,4.1,-73.988991,40.721436,1,N,-73.995750,40.764694,3,17.0,0.5,0.5,0.00,0.00,0.3,18.30
1,2015-06-01 00:12:59,2015-06-01 00:24:18,2.7,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30
1,2015-06-01 00:12:59,2015-06-01 00:28:16,4.5,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.00,0.3,20.30
1,2015-06-01 00:13:04,2015-06-01 00:36:33,5.8,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.00,0.3,26.75

In [16]:
(
    df
    .set_index(['VendorID', 'passenger_count'])
    .loc[[1, 2]]    # I want all rows with either vendorID 1 or 2

)

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
1        1                2015-06-02 11:19:32   2015-06-02 11:32:49
         1                2015-06-02 11:19:33   2015-06-02 11:28:48
         1                2015-06-02 11:19:34   2015-06-02 11:38:46
         4                2015-06-02 11:19:35   2015-06-02 12:36:46
         1                2015-06-02 11:19:38   2015-06-02 11:23:50
...                                       ...                   ...
2        1                2015-06-01 00:13:42   2015-06-01 00:34:32
         1                2015-06-01 00:13:43   2015-06-01 00:21:49
         1                2015-06-01 00:13:45   2015-06-01 00:36:43
         1                2015-06-01 00:13:00   2015-06-01 00:37:25
         6                2015-06-01 00:13:02   2015-06-01 00:19:10

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
1        1                         1.40        -73.979088        40.776772
         1                         1.40        -73.944641        40.779465
         1                         1.80        -73.992867        40.748211
         4                        11.90        -73.863075        40.769253
         1                         0.60        -73.970734        40.796207
...                                 ...               ...              ...
2        1                         6.07        -73.979309        40.723488
         1                         1.48        -73.988739        40.756950
         1                         6.37        -74.006752        40.744141
         1                         5.59        -73.994377        40.766102
         6                         1.54        -73.978302        40.748531

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
1        1                         1                  N         -73.982162
         1                         1                  N         -73.961365
         1                         1                  N         -73.969772
         4                         1                  N         -73.986710
         1                         1                  N         -73.977470
...                              ...                ...                ...
2        1                         1                  N         -73.958405
         1                         1                  N         -73.976860
         1                         1                  N         -73.922806
         1                         1                  N         -73.903206
         6                         1                  N         -73.989166

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
1        1                       40.758999             2          9.5    0.0
         1                       40.771561             1          8.0    0.0
         1                       40.748459             1         12.5    0.0
         4                       40.761307             1         52.5    0.0
         1                       40.789509             1          5.0    0.0
...                                    ...           ...          ...    ...
2        1                       40.673611             1         20.0    0.5
         1                       40.743309             2          8.0    0.5
         1                       40.764030             2         22.0    0.5
         1                       40.750546             2         21.0    0.5
         6                       40.762852             2          6.5    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
1        1                    0.5        0.00          0.00
         1                    0.5        1.75          0.00
         1                    0.5        3.00          0.00
         4                    0.5       15.00          5.54
         1                    0.5        0.50          0.00
...                           ...         ...           ...
2        1                    0.5        5.32          0.00
         1                    0.5        0.00          0.00
         1                    0.5        0.00          0.00
         1                    0.5        0.00          0.00
         6                    0.5        0.00          0.00

                          improvement_surcharge  total_amount
VendorID passenger_count
1        1                                  0.3         10.30
         1                                  0.3         10.55
         1                                  0.3         16.30
         4                                  0.3         73.84
         1                                  0.3          6.30
...                                         ...           ...
2        1                                  0.3         26.62
         1                                  0.3          9.30
         1                                  0.3         23.30
         1                                  0.3         22.30
         6                                  0.3          7.80

[9999 rows x 17 columns]

In [17]:
# vendorID 1, passenger_count 2

(
    df
    .set_index(['VendorID', 'passenger_count'])
    .loc[(1, 2)]    # I want all rows with vendor ID 1, passenger_count 2  -- tuple, not a list!

)

/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_1839/592634785.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  df

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
1        2                2015-06-02 11:19:41   2015-06-02 11:23:56
         2                2015-06-02 11:19:42   2015-06-02 11:22:33
         2                2015-06-02 11:19:55   2015-06-02 11:34:39
         2                2015-06-02 11:20:05   2015-06-02 12:02:22
         2                2015-06-02 11:20:20   2015-06-02 12:07:49
...                                       ...                   ...
         2                2015-06-01 00:12:31   2015-06-01 00:12:56
         2                2015-06-01 00:12:42   2015-06-01 00:35:10
         2                2015-06-01 00:13:06   2015-06-01 00:26:26
         2                2015-06-01 00:13:30   2015-06-01 00:22:49
         2                2015-06-01 00:13:14   2015-06-01 00:23:25

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
1        2                          0.5        -73.954803        40.765667
         2                          0.6        -73.971939        40.781902
         2                          1.9        -73.990143        40.740814
         2                          5.3        -73.955170        40.788544
         2                          3.8        -74.008652        40.719646
...                                 ...               ...              ...
         2                          2.4        -73.984634        40.759377
         2                          6.2        -73.982460        40.678112
         2                          3.9        -73.989685        40.757469
         2                          2.2        -74.002075        40.745571
         2                          2.7        -73.989502        40.729572

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
1        2                         1                  N         -73.962517
         2                         1                  N         -73.978149
         2                         1                  N         -74.005508
         2                         1                  N         -74.001060
         2                         1                  N         -73.975044
...                              ...                ...                ...
         2                         2                  N         -73.984604
         2                         1                  N         -73.982506
         2                         1                  N         -73.964226
         2                         1                  N         -73.989235
         2                         1                  N         -73.995644

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
1        2                       40.768044             1          4.5    0.0
         2                       40.777328             2          4.0    0.0
         2                       40.723015             2         11.0    0.0
         2                       40.736637             1         27.0    0.0
         2                       40.758331             1         28.0    0.0
...                                    ...           ...          ...    ...
         2                       40.759350             2         52.0    0.0
         2                       40.678223             1         22.5    0.5
         2                       40.807156             1         14.0    0.5
         2                       40.721748             2          9.0    0.5
         2                       40.754749             1         10.5    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
1        2                    0.5        1.30          0.00
         2                    0.5        0.00          0.00
         2                    0.5        0.00          0.00
         2                    0.5        5.55          0.00
         2                    0.5        5.76          0.00
...                           ...         ...           ...
         2                    0.5        0.00          5.54
         2                    0.5        4.76          0.00
         2                    0.5        3.05          0.00
         2                    0.5        0.00          0.00
         2                    0.5        2.35          0.00

                          improvement_surcharge  total_amount
VendorID passenger_count
1        2                                  0.3          6.60
         2                                  0.3          4.80
         2                                  0.3         11.80
         2                                  0.3         33.35
         2                                  0.3         34.56
...                                         ...           ...
         2                                  0.3         58.34
         2                                  0.3         28.56
         2                                  0.3         18.35
         2                                  0.3         10.30
         2                                  0.3         14.15

[592 rows x 17 columns]

In [18]:
# vendorID 1, passenger_count 2

(
    df
    .set_index(['VendorID', 'passenger_count'])
    .sort_index()
    .loc[(1, 2)]    # I want all rows with vendor ID 1, passenger_count 2  -- tuple, not a list!

)

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
1        2                2015-06-02 11:19:41   2015-06-02 11:23:56
         2                2015-06-02 11:19:42   2015-06-02 11:22:33
         2                2015-06-02 11:19:55   2015-06-02 11:34:39
         2                2015-06-02 11:20:05   2015-06-02 12:02:22
         2                2015-06-02 11:20:20   2015-06-02 12:07:49
...                                       ...                   ...
         2                2015-06-01 00:12:31   2015-06-01 00:12:56
         2                2015-06-01 00:12:42   2015-06-01 00:35:10
         2                2015-06-01 00:13:06   2015-06-01 00:26:26
         2                2015-06-01 00:13:30   2015-06-01 00:22:49
         2                2015-06-01 00:13:14   2015-06-01 00:23:25

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
1        2                          0.5        -73.954803        40.765667
         2                          0.6        -73.971939        40.781902
         2                          1.9        -73.990143        40.740814
         2                          5.3        -73.955170        40.788544
         2                          3.8        -74.008652        40.719646
...                                 ...               ...              ...
         2                          2.4        -73.984634        40.759377
         2                          6.2        -73.982460        40.678112
         2                          3.9        -73.989685        40.757469
         2                          2.2        -74.002075        40.745571
         2                          2.7        -73.989502        40.729572

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
1        2                         1                  N         -73.962517
         2                         1                  N         -73.978149
         2                         1                  N         -74.005508
         2                         1                  N         -74.001060
         2                         1                  N         -73.975044
...                              ...                ...                ...
         2                         2                  N         -73.984604
         2                         1                  N         -73.982506
         2                         1                  N         -73.964226
         2                         1                  N         -73.989235
         2                         1                  N         -73.995644

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
1        2                       40.768044             1          4.5    0.0
         2                       40.777328             2          4.0    0.0
         2                       40.723015             2         11.0    0.0
         2                       40.736637             1         27.0    0.0
         2                       40.758331             1         28.0    0.0
...                                    ...           ...          ...    ...
         2                       40.759350             2         52.0    0.0
         2                       40.678223             1         22.5    0.5
         2                       40.807156             1         14.0    0.5
         2                       40.721748             2          9.0    0.5
         2                       40.754749             1         10.5    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
1        2                    0.5        1.30          0.00
         2                    0.5        0.00          0.00
         2                    0.5        0.00          0.00
         2                    0.5        5.55          0.00
         2                    0.5        5.76          0.00
...                           ...         ...           ...
         2                    0.5        0.00          5.54
         2                    0.5        4.76          0.00
         2                    0.5        3.05          0.00
         2                    0.5        0.00          0.00
         2                    0.5        2.35          0.00

                          improvement_surcharge  total_amount
VendorID passenger_count
1        2                                  0.3          6.60
         2                                  0.3          4.80
         2                                  0.3         11.80
         2                                  0.3         33.35
         2                                  0.3         34.56
...                                         ...           ...
         2                                  0.3         58.34
         2                                  0.3         28.56
         2                                  0.3         18.35
         2                                  0.3         10.30
         2                                  0.3         14.15

[592 rows x 17 columns]

In [ ]:
# what if I want