# Agenda: Dates and times

1. Core concepts and data structures
2. Parsing of dates and times
3. Using `.dt`
4. Comparisons and the like
5. Timedelta, and comparisons with it
6. Grouper
7. Time series
8. Resampling

# Concepts

- `datetime` or `timestamp` -- unique point in time, with year, month, day, hour, minute, second, etc.
- `timedelta` or `interval` -- range of time, measured in seconds, minutes, days

Date math:
- `datetime` - `datetime` = `timedelta`
- `datetime` + `timedelta` = `datetime`
- `datetime` - `timedelta` = `datetime`

In [1]:
import pandas as pd

filename = 'taxi.csv'
df = pd.read_csv(filename)

In [2]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [3]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [4]:
# how much memory?

df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               9999 non-null   int64
 1   tpep_pickup_datetime   9999 non-null   object
 2   tpep_dropoff_datetime  9999 non-null   object
 3   passenger_count        9999 non-null   int64
 4   trip_distance          9999 non-null   float64
 5   pickup_longitude       9999 non-null   float64
 6   pickup_latitude        9999 non-null   float64
 7   RateCodeID             9999 non-null   int64
 8   store_and_fwd_flag     9999 non-null   object
 9   dropoff_longitude      9999 non-null   float64
 10  dropoff_latitude       9999 non-null   float64
 11  payment_type           9999 non-null   int64
 12  fare_amount            9999 non-null   float64
 13  extra                  9999 non-null   float64
 14  mta_tax                9999 non-null   float64
 15  tip_amount             9999 non-null   float64
 16  tolls_amount           9999 non-null   float64
 17  improvement_surcharge  9999 non-null   float64
 18  total_amount           9999 non-null   float64
dtypes: float64(12), int64(4), object(3)
memory usage: 3.0 MB

In [5]:
# pd.to_datetime

pd.to_datetime(df['tpep_pickup_datetime'])

0      2015-06-02 11:19:29
1      2015-06-02 11:19:30
2      2015-06-02 11:19:31
3      2015-06-02 11:19:31
4      2015-06-02 11:19:32
               ...
9994   2015-06-01 00:12:59
9995   2015-06-01 00:12:59
9996   2015-06-01 00:13:00
9997   2015-06-01 00:13:02
9998   2015-06-01 00:13:04
Name: tpep_pickup_datetime, Length: 9999, dtype: datetime64[ns]

In [6]:
# assign back to the data frame

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               9999 non-null   int64
 1   tpep_pickup_datetime   9999 non-null   datetime64[ns]
 2   tpep_dropoff_datetime  9999 non-null   datetime64[ns]
 3   passenger_count        9999 non-null   int64
 4   trip_distance          9999 non-null   float64
 5   pickup_longitude       9999 non-null   float64
 6   pickup_latitude        9999 non-null   float64
 7   RateCodeID             9999 non-null   int64
 8   store_and_fwd_flag     9999 non-null   object
 9   dropoff_longitude      9999 non-null   float64
 10  dropoff_latitude       9999 non-null   float64
 11  payment_type           9999 non-null   int64
 12  fare_amount            9999 non-null   float64
 13  extra                  9999 non-null   float64
 14  mta_tax                9999 non-null   float64
 15  tip_amount             9999 non-null   float64
 16  tolls_amount           9999 non-null   float64
 17  improvement_surcharge  9999 non-null   float64
 18  total_amount           9999 non-null   float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 1.9 MB

# What format?

- `YYYY-MM-DD HH:MM:SS` -- this works automatically
- `DD/MM/YYYY HH:MM:SS` -- works fine, if we pass `dayfirst=True`
- `MM/DD/YYYY HH:MM:SS` -- this works automatically

We can pass the `format` keyword argument, and pass a format string (https://strftime.org/)

In [10]:
df = (pd.
     read_csv(filename)
      .assign(tpep_pickup_datetime = lambda df_: pd.to_datetime(df_['tpep_pickup_datetime']),
              tpep_dropoff_datetime = lambda df_: pd.to_datetime(df_['tpep_dropoff_datetime']))
     )

In [11]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [13]:
# we can also use parse_dates

df = (pd.
     read_csv(filename,
              usecols=['tpep_pickup_datetime', 'tpep_dropoff_datetime',
                      'passenger_count', 'trip_distance', 'total_amount'],
             parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
     )
df.dtypes

tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
total_amount                    float64
dtype: object

In [14]:
df.head(10)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,8.30
2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,11.00
3,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,17.16
4,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,10.30
5,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,10.55
6,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,16.30
7,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,73.84
8,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,15.80
9,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,6.30

# Usint `.dt`

We can use `.dt` on a `datetime` column and retrieve parts from it:

- `.dt.year`
- `.dt.month`
- `.dt.hour`

In [15]:
df['tpep_pickup_datetime'].dt.hour

0       11
1       11
2       11
3       11
4       11
        ..
9994     0
9995     0
9996     0
9997     0
9998     0
Name: tpep_pickup_datetime, Length: 9999, dtype: int32

In [16]:
df['tpep_dropoff_datetime'].dt.year

0       2015
1       2015
2       2015
3       2015
4       2015
        ...
9994    2015
9995    2015
9996    2015
9997    2015
9998    2015
Name: tpep_dropoff_datetime, Length: 9999, dtype: int32

In [18]:
df['tpep_dropoff_datetime'].dt.dayofweek.value_counts()

tpep_dropoff_datetime
1    4395
3    2536
0    2439
5     628
2       1
Name: count, dtype: int64

In [19]:
len(df.index)

9999

In [23]:
df['tpep_dropoff_datetime'].dt.day_name().value_counts()

tpep_dropoff_datetime
Tuesday      4395
Thursday     2536
Monday       2439
Saturday      628
Wednesday       1
Name: count, dtype: int64

In [26]:
dir(df['tpep_dropoff_datetime'].dt)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_add_delegate_accessors',
 '_constructor',
 '_delegate_method',
 '_delegate_property_get',
 '_delegate_property_set',
 '_dir_additions',
 '_dir_deletions',
 '_freeze',
 '_get_values',
 '_hidden_attrs',
 '_parent',
 '_reset_cache',
 'as_unit',
 'ceil',
 'date',
 'day',
 'day_name',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'floor',
 'freq',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'microsecond',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'quarter',
 'round',
 'second',
 'strftime',
 'time',
 'timetz',
 'to_period',
 'to_pydatetime',
 'tz',
 'tz_convert',
 'tz_localize',
 'unit',
 'weekday',
 'year']

In [27]:
!ls *.zip

nyc_taxi_2020-07.zip  taxi.zip

# Exercise: NYC taxis

1. Read the NYC taxi data from July 2020 into a data frame without turning into `datetime` values. How big is it?
2. Use `parse_dates` to read it a second time. How much memory did you save?
3. How many rides were there on each day of the week?
4. How many rides were there on each hour?
5. What was the mean `trip_distance` on weekends vs. during the week?

In [29]:
filename = 'nyc_taxi_2020-07.zip'

df = pd.read_csv(filename, low_memory=False)

In [33]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800412 entries, 0 to 800411
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               737565 non-null  float64
 1   tpep_pickup_datetime   800412 non-null  object
 2   tpep_dropoff_datetime  800412 non-null  object
 3   passenger_count        737565 non-null  float64
 4   trip_distance          800412 non-null  float64
 5   RatecodeID             737565 non-null  float64
 6   store_and_fwd_flag     737565 non-null  object
 7   PULocationID           800412 non-null  int64
 8   DOLocationID           800412 non-null  int64
 9   payment_type           737565 non-null  float64
 10  fare_amount            800412 non-null  float64
 11  extra                  800412 non-null  float64
 12  mta_tax                800412 non-null  float64
 13  tip_amount             800412 non-null  float64
 14  tolls_amount           800412 non-null  float64
 15  improvement_surcharge  800412 non-null  float64
 16  total_amount           800412 non-null  float64
 17  congestion_surcharge   800412 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 232.5 MB

In [34]:
filename = 'nyc_taxi_2020-07.zip'

df = pd.read_csv(filename, low_memory=False,
                parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [35]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800412 entries, 0 to 800411
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               737565 non-null  float64
 1   tpep_pickup_datetime   800412 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  800412 non-null  datetime64[ns]
 3   passenger_count        737565 non-null  float64
 4   trip_distance          800412 non-null  float64
 5   RatecodeID             737565 non-null  float64
 6   store_and_fwd_flag     737565 non-null  object
 7   PULocationID           800412 non-null  int64
 8   DOLocationID           800412 non-null  int64
 9   payment_type           737565 non-null  float64
 10  fare_amount            800412 non-null  float64
 11  extra                  800412 non-null  float64
 12  mta_tax                800412 non-null  float64
 13  tip_amount             800412 non-null  float64
 14  tolls_amount           800412 non-null  float64
 15  improvement_surcharge  800412 non-null  float64
 16  total_amount           800412 non-null  float64
 17  congestion_surcharge   800412 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(2), object(1)
memory usage: 140.9 MB

In [37]:
# 3. How many rides were there on each day of the week?

df['tpep_pickup_datetime'].dt.day_name().value_counts()

tpep_pickup_datetime
Thursday     149582
Wednesday    147489
Friday       136094
Tuesday      115951
Monday       106208
Saturday      79001
Sunday        66087
Name: count, dtype: int64

In [40]:
# 4. How many rides were there on each hour?

df['tpep_pickup_datetime'].dt.hour.value_counts(sort=False).sort_index()

tpep_pickup_datetime
0     11457
1      9581
2      7241
3      7157
4      7374
5      6807
6     18554
7     25889
8     35090
9     41009
10    46282
11    49846
12    54563
13    57580
14    59073
15    59210
16    57144
17    56668
18    53129
19    42472
20    30649
21    24662
22    20783
23    18192
Name: count, dtype: int64

In [50]:
# 5. What was the mean `trip_distance` on weekends vs. during the week?

(
    df
    .loc[
        df['tpep_pickup_datetime'].dt.day_of_week.isin([5,6]) ,
        'trip_distance'
    ]     # 0 == Monday
    .mean()
)

np.float64(6.915069750771945)

In [51]:
(
    df
    .loc[
        ~df['tpep_pickup_datetime'].dt.day_of_week.isin([5,6]) ,
        'trip_distance'
    ]     # 0 == Monday
    .mean()
)

np.float64(3.7261134644847442)

In [52]:
# what if I want to find out: for each separate hour of the day, what 
# was the mean distance?

df.groupby('passenger_count')['trip_distance'].mean()

passenger_count
0.0    2.629651
1.0    2.661786
2.0    2.914637
3.0    2.930557
4.0    3.032374
5.0    2.780181
6.0    2.823975
7.0    2.168000
8.0    0.000000
9.0    0.000000
Name: trip_distance, dtype: float64

In [55]:
(
    df
    .groupby(df['tpep_pickup_datetime'].dt.hour)
    ['trip_distance'].mean()
    .sort_values(ascending=False)
)

tpep_pickup_datetime
21    32.465414
1     15.018075
3     14.842060
4     13.844186
2      7.522501
0      4.686456
7      4.502182
23     4.159685
22     3.785870
5      3.669135
20     3.432630
13     3.229825
19     3.080243
17     3.006179
16     2.980572
18     2.958436
15     2.884645
6      2.877530
14     2.705078
12     2.635746
8      2.588864
11     2.570557
9      2.552402
10     2.525525
Name: trip_distance, dtype: float64

In [56]:
# groupby on two columns

(
    df
    .groupby([df['tpep_pickup_datetime'].dt.hour, 'passenger_count'])
    ['trip_distance'].mean()
    .sort_values(ascending=False)
)

tpep_pickup_datetime  passenger_count
20                    7.0                10.840000
3                     2.0                 5.271961
23                    5.0                 5.194554
3                     4.0                 4.964615
4                     2.0                 4.779444
                                           ...
0                     9.0                 0.000000
14                    7.0                 0.000000
22                    7.0                 0.000000
                      8.0                 0.000000
23                    8.0                 0.000000
Name: trip_distance, Length: 174, dtype: float64

In [61]:
# Grouper

(
    df
    # key == the column on which I want to run, on a datetime column
    # frequency == chunk size for the grouping
    .groupby(pd.Grouper(key='tpep_pickup_datetime', freq='1h'))
    ['trip_distance'].mean()
    .sort_values(ascending=False)
)

tpep_pickup_datetime
2020-07-26 21:00:00    289.939840
2020-07-23 01:00:00    284.695535
2020-07-18 21:00:00    274.503365
2020-07-09 21:00:00    273.676141
2020-07-03 03:00:00    162.823870
                          ...
2020-06-30 17:00:00           NaN
2020-06-30 19:00:00           NaN
2020-06-30 20:00:00           NaN
2020-06-30 21:00:00           NaN
2020-06-30 22:00:00           NaN
Name: trip_distance, Length: 101522, dtype: float64

# Exercise: More taxi stuff

1. From the July 2020 data, on which 5 days of the month did people travel the furthest on average?
2. At which hour do we see the greatest number of refunds (i.e., negative `total_amount`)?

In [64]:
(
    df
    .groupby(df['tpep_pickup_datetime'].dt.day)['trip_distance'].mean()
    .nlargest(5)
)

tpep_pickup_datetime
26    16.792579
18    15.146303
9     10.763637
23     5.460835
3      5.293490
Name: trip_distance, dtype: float64

In [69]:
(
    df
    .loc[lambda df_: df_['total_amount'] < 0]
    ['tpep_pickup_datetime'].dt.hour
    .value_counts()
)

tpep_pickup_datetime
15    290
17    256
13    251
14    246
18    242
16    235
19    216
12    208
20    205
10    181
11    177
21    156
9     153
23    132
22    113
8     111
0     101
6      91
7      87
1      70
2      56
5      54
4      35
3      31
Name: count, dtype: int64

# Next up

- `timedelta`
- time series
- resampling

In [70]:
# datetime - datetime = timedelta

df = pd.read_csv('taxi.csv',
                usecols=['tpep_pickup_datetime', 'tpep_dropoff_datetime',
                        'trip_distance', 'total_amount', 'passenger_count'],
                parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,total_amount
0,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,8.30
2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,11.00
3,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,17.16
4,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,10.30

In [71]:
df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']

0      0 days 00:28:23
1      0 days 00:08:26
2      0 days 00:10:59
3      0 days 00:19:31
4      0 days 00:13:17
             ...
9994   0 days 00:11:19
9995   0 days 00:15:17
9996   0 days 00:24:25
9997   0 days 00:06:08
9998   0 days 00:23:29
Length: 9999, dtype: timedelta64[ns]