# Agenda

1. Indexes + multi-indexes
2. Sorting
3. Grouping
4. Pivot table

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('taxi.csv')

In [3]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [4]:
df.set_index('tpep_pickup_datetime')

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [5]:
(
    df
    .set_index('tpep_pickup_datetime')
    .loc['2015-06-01 00:13:02']
)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:13:02,1,2015-06-01 00:23:57,1,2.10,-73.986092,40.730488,1,N,-73.991432,40.744259,1,9.5,0.5,0.5,2.15,0.00,0.3,12.95
2015-06-01 00:13:02,2,2015-06-01 00:40:35,5,8.95,-74.000099,40.733120,1,N,-73.876839,40.748112,2,28.5,0.5,0.5,0.00,5.54,0.3,35.34
2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80

In [6]:
(
    df
    .set_index('tpep_pickup_datetime')
    .loc['2015-06-01abc 00:13:02']
)

KeyError: '2015-06-01abc 00:13:02'

In [7]:
df = df.set_index('tpep_pickup_datetime')

In [8]:
df.reset_index()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2015-06-01 00:12:59,1,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,2015-06-01 00:12:59,1,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2015-06-01 00:13:00,2,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2015-06-01 00:13:02,2,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,2015-06-01 00:13:04,1,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [9]:
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [10]:
df = df.reset_index()
df.head()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [11]:
df.set_index(['VendorID', 'passenger_count'])

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
2        1                2015-06-02 11:19:29   2015-06-02 11:47:52
         1                2015-06-02 11:19:30   2015-06-02 11:27:56
         1                2015-06-02 11:19:31   2015-06-02 11:30:30
         1                2015-06-02 11:19:31   2015-06-02 11:39:02
1        1                2015-06-02 11:19:32   2015-06-02 11:32:49
...                                       ...                   ...
         1                2015-06-01 00:12:59   2015-06-01 00:24:18
         1                2015-06-01 00:12:59   2015-06-01 00:28:16
2        1                2015-06-01 00:13:00   2015-06-01 00:37:25
         6                2015-06-01 00:13:02   2015-06-01 00:19:10
1        1                2015-06-01 00:13:04   2015-06-01 00:36:33

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
2        1                         1.63        -73.954430        40.764141
         1                         0.46        -73.971443        40.758942
         1                         0.87        -73.978111        40.738434
         1                         2.13        -73.945892        40.773529
1        1                         1.40        -73.979088        40.776772
...                                 ...               ...              ...
         1                         2.70        -73.947792        40.814972
         1                         4.50        -74.004066        40.747818
2        1                         5.59        -73.994377        40.766102
         6                         1.54        -73.978302        40.748531
1        1                         5.80        -73.983215        40.726414

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
2        1                         1                  N         -73.974754
         1                         1                  N         -73.978539
         1                         1                  N         -73.990273
         1                         1                  N         -73.971527
1        1                         1                  N         -73.982162
...                              ...                ...                ...
         1                         1                  N         -73.973358
         1                         1                  N         -73.953758
2        1                         1                  N         -73.903206
         6                         1                  N         -73.989166
1        1                         1                  N         -73.924133

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
2        1                       40.754093             2         17.0    0.0
         1                       40.761909             1          6.5    0.0
         1                       40.745438             1          8.0    0.0
         1                       40.760330             1         13.5    0.0
1        1                       40.758999             2          9.5    0.0
...                                    ...           ...          ...    ...
         1                       40.783638             2         11.0    0.5
         1                       40.779285             1         16.0    0.5
2        1                       40.750546             2         21.0    0.5
         6                       40.762852             2          6.5    0.5
1        1                       40.701645             1         21.0    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
2        1                    0.5        0.00           0.0
         1                    0.5        1.00           0.0
         1                    0.5        2.20           0.0
         1                    0.5        2.86           0.0
1        1                    0.5        0.00           0.0
...                           ...         ...           ...
         1                    0.5        0.00           0.0
         1                    0.5        3.00           0.0
2        1                    0.5        0.00           0.0
         6                    0.5        0.00           0.0
1        1                    0.5        4.45           0.0

                          improvement_surcharge  total_amount
VendorID passenger_count
2        1                                  0.3         17.80
         1                                  0.3          8.30
         1                                  0.3         11.00
         1                                  0.3         17.16
1        1                                  0.3         10.30
...                                         ...           ...
         1                                  0.3         12.30
         1                                  0.3         20.30
2        1                                  0.3         22.30
         6                                  0.3          7.80
1        1                                  0.3         26.75

[9999 rows x 17 columns]

In [12]:
(
    df
    .set_index(['VendorID', 'passenger_count'])
    .loc[2]

)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,
1,2015-06-02 11:19:29,2015-06-02 11:47:52,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2015-06-02 11:19:30,2015-06-02 11:27:56,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
1,2015-06-02 11:19:31,2015-06-02 11:30:30,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
1,2015-06-02 11:19:31,2015-06-02 11:39:02,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
1,2015-06-02 11:19:36,2015-06-02 11:45:19,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.0,0.3,15.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2015-06-01 00:13:42,2015-06-01 00:34:32,6.07,-73.979309,40.723488,1,N,-73.958405,40.673611,1,20.0,0.5,0.5,5.32,0.0,0.3,26.62
1,2015-06-01 00:13:43,2015-06-01 00:21:49,1.48,-73.988739,40.756950,1,N,-73.976860,40.743309,2,8.0,0.5,0.5,0.00,0.0,0.3,9.30
1,2015-06-01 00:13:45,2015-06-01 00:36:43,6.37,-74.006752,40.744141,1,N,-73.922806,40.764030,2,22.0,0.5,0.5,0.00,0.0,0.3,23.30
1,2015-06-01 00:13:00,2015-06-01 00:37:25,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
6,2015-06-01 00:13:02,2015-06-01 00:19:10,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80

In [13]:
(
    df
    .set_index(['VendorID', 'passenger_count'])
    .loc[1]

)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,
1,2015-06-02 11:19:32,2015-06-02 11:32:49,1.4,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
1,2015-06-02 11:19:33,2015-06-02 11:28:48,1.4,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
1,2015-06-02 11:19:34,2015-06-02 11:38:46,1.8,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
4,2015-06-02 11:19:35,2015-06-02 12:36:46,11.9,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
1,2015-06-02 11:19:38,2015-06-02 11:23:50,0.6,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,2015-06-01 00:13:39,2015-06-01 00:18:22,0.9,-73.997124,40.747105,1,N,-73.986977,40.756107,1,5.5,0.5,0.5,1.70,0.00,0.3,8.50
1,2015-06-01 00:13:47,2015-06-01 00:33:03,4.1,-73.988991,40.721436,1,N,-73.995750,40.764694,3,17.0,0.5,0.5,0.00,0.00,0.3,18.30
1,2015-06-01 00:12:59,2015-06-01 00:24:18,2.7,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30
1,2015-06-01 00:12:59,2015-06-01 00:28:16,4.5,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.00,0.3,20.30
1,2015-06-01 00:13:04,2015-06-01 00:36:33,5.8,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.00,0.3,26.75

In [16]:
(
    df
    .set_index(['VendorID', 'passenger_count'])
    .loc[[1, 2]]    # I want all rows with either vendorID 1 or 2

)

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
1        1                2015-06-02 11:19:32   2015-06-02 11:32:49
         1                2015-06-02 11:19:33   2015-06-02 11:28:48
         1                2015-06-02 11:19:34   2015-06-02 11:38:46
         4                2015-06-02 11:19:35   2015-06-02 12:36:46
         1                2015-06-02 11:19:38   2015-06-02 11:23:50
...                                       ...                   ...
2        1                2015-06-01 00:13:42   2015-06-01 00:34:32
         1                2015-06-01 00:13:43   2015-06-01 00:21:49
         1                2015-06-01 00:13:45   2015-06-01 00:36:43
         1                2015-06-01 00:13:00   2015-06-01 00:37:25
         6                2015-06-01 00:13:02   2015-06-01 00:19:10

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
1        1                         1.40        -73.979088        40.776772
         1                         1.40        -73.944641        40.779465
         1                         1.80        -73.992867        40.748211
         4                        11.90        -73.863075        40.769253
         1                         0.60        -73.970734        40.796207
...                                 ...               ...              ...
2        1                         6.07        -73.979309        40.723488
         1                         1.48        -73.988739        40.756950
         1                         6.37        -74.006752        40.744141
         1                         5.59        -73.994377        40.766102
         6                         1.54        -73.978302        40.748531

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
1        1                         1                  N         -73.982162
         1                         1                  N         -73.961365
         1                         1                  N         -73.969772
         4                         1                  N         -73.986710
         1                         1                  N         -73.977470
...                              ...                ...                ...
2        1                         1                  N         -73.958405
         1                         1                  N         -73.976860
         1                         1                  N         -73.922806
         1                         1                  N         -73.903206
         6                         1                  N         -73.989166

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
1        1                       40.758999             2          9.5    0.0
         1                       40.771561             1          8.0    0.0
         1                       40.748459             1         12.5    0.0
         4                       40.761307             1         52.5    0.0
         1                       40.789509             1          5.0    0.0
...                                    ...           ...          ...    ...
2        1                       40.673611             1         20.0    0.5
         1                       40.743309             2          8.0    0.5
         1                       40.764030             2         22.0    0.5
         1                       40.750546             2         21.0    0.5
         6                       40.762852             2          6.5    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
1        1                    0.5        0.00          0.00
         1                    0.5        1.75          0.00
         1                    0.5        3.00          0.00
         4                    0.5       15.00          5.54
         1                    0.5        0.50          0.00
...                           ...         ...           ...
2        1                    0.5        5.32          0.00
         1                    0.5        0.00          0.00
         1                    0.5        0.00          0.00
         1                    0.5        0.00          0.00
         6                    0.5        0.00          0.00

                          improvement_surcharge  total_amount
VendorID passenger_count
1        1                                  0.3         10.30
         1                                  0.3         10.55
         1                                  0.3         16.30
         4                                  0.3         73.84
         1                                  0.3          6.30
...                                         ...           ...
2        1                                  0.3         26.62
         1                                  0.3          9.30
         1                                  0.3         23.30
         1                                  0.3         22.30
         6                                  0.3          7.80

[9999 rows x 17 columns]

In [17]:
# vendorID 1, passenger_count 2

(
    df
    .set_index(['VendorID', 'passenger_count'])
    .loc[(1, 2)]    # I want all rows with vendor ID 1, passenger_count 2  -- tuple, not a list!

)

/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_1839/592634785.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  df

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
1        2                2015-06-02 11:19:41   2015-06-02 11:23:56
         2                2015-06-02 11:19:42   2015-06-02 11:22:33
         2                2015-06-02 11:19:55   2015-06-02 11:34:39
         2                2015-06-02 11:20:05   2015-06-02 12:02:22
         2                2015-06-02 11:20:20   2015-06-02 12:07:49
...                                       ...                   ...
         2                2015-06-01 00:12:31   2015-06-01 00:12:56
         2                2015-06-01 00:12:42   2015-06-01 00:35:10
         2                2015-06-01 00:13:06   2015-06-01 00:26:26
         2                2015-06-01 00:13:30   2015-06-01 00:22:49
         2                2015-06-01 00:13:14   2015-06-01 00:23:25

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
1        2                          0.5        -73.954803        40.765667
         2                          0.6        -73.971939        40.781902
         2                          1.9        -73.990143        40.740814
         2                          5.3        -73.955170        40.788544
         2                          3.8        -74.008652        40.719646
...                                 ...               ...              ...
         2                          2.4        -73.984634        40.759377
         2                          6.2        -73.982460        40.678112
         2                          3.9        -73.989685        40.757469
         2                          2.2        -74.002075        40.745571
         2                          2.7        -73.989502        40.729572

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
1        2                         1                  N         -73.962517
         2                         1                  N         -73.978149
         2                         1                  N         -74.005508
         2                         1                  N         -74.001060
         2                         1                  N         -73.975044
...                              ...                ...                ...
         2                         2                  N         -73.984604
         2                         1                  N         -73.982506
         2                         1                  N         -73.964226
         2                         1                  N         -73.989235
         2                         1                  N         -73.995644

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
1        2                       40.768044             1          4.5    0.0
         2                       40.777328             2          4.0    0.0
         2                       40.723015             2         11.0    0.0
         2                       40.736637             1         27.0    0.0
         2                       40.758331             1         28.0    0.0
...                                    ...           ...          ...    ...
         2                       40.759350             2         52.0    0.0
         2                       40.678223             1         22.5    0.5
         2                       40.807156             1         14.0    0.5
         2                       40.721748             2          9.0    0.5
         2                       40.754749             1         10.5    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
1        2                    0.5        1.30          0.00
         2                    0.5        0.00          0.00
         2                    0.5        0.00          0.00
         2                    0.5        5.55          0.00
         2                    0.5        5.76          0.00
...                           ...         ...           ...
         2                    0.5        0.00          5.54
         2                    0.5        4.76          0.00
         2                    0.5        3.05          0.00
         2                    0.5        0.00          0.00
         2                    0.5        2.35          0.00

                          improvement_surcharge  total_amount
VendorID passenger_count
1        2                                  0.3          6.60
         2                                  0.3          4.80
         2                                  0.3         11.80
         2                                  0.3         33.35
         2                                  0.3         34.56
...                                         ...           ...
         2                                  0.3         58.34
         2                                  0.3         28.56
         2                                  0.3         18.35
         2                                  0.3         10.30
         2                                  0.3         14.15

[592 rows x 17 columns]

In [18]:
# vendorID 1, passenger_count 2

(
    df
    .set_index(['VendorID', 'passenger_count'])
    .sort_index()
    .loc[(1, 2)]    # I want all rows with vendor ID 1, passenger_count 2  -- tuple, not a list!

)

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
1        2                2015-06-02 11:19:41   2015-06-02 11:23:56
         2                2015-06-02 11:19:42   2015-06-02 11:22:33
         2                2015-06-02 11:19:55   2015-06-02 11:34:39
         2                2015-06-02 11:20:05   2015-06-02 12:02:22
         2                2015-06-02 11:20:20   2015-06-02 12:07:49
...                                       ...                   ...
         2                2015-06-01 00:12:31   2015-06-01 00:12:56
         2                2015-06-01 00:12:42   2015-06-01 00:35:10
         2                2015-06-01 00:13:06   2015-06-01 00:26:26
         2                2015-06-01 00:13:30   2015-06-01 00:22:49
         2                2015-06-01 00:13:14   2015-06-01 00:23:25

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
1        2                          0.5        -73.954803        40.765667
         2                          0.6        -73.971939        40.781902
         2                          1.9        -73.990143        40.740814
         2                          5.3        -73.955170        40.788544
         2                          3.8        -74.008652        40.719646
...                                 ...               ...              ...
         2                          2.4        -73.984634        40.759377
         2                          6.2        -73.982460        40.678112
         2                          3.9        -73.989685        40.757469
         2                          2.2        -74.002075        40.745571
         2                          2.7        -73.989502        40.729572

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
1        2                         1                  N         -73.962517
         2                         1                  N         -73.978149
         2                         1                  N         -74.005508
         2                         1                  N         -74.001060
         2                         1                  N         -73.975044
...                              ...                ...                ...
         2                         2                  N         -73.984604
         2                         1                  N         -73.982506
         2                         1                  N         -73.964226
         2                         1                  N         -73.989235
         2                         1                  N         -73.995644

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
1        2                       40.768044             1          4.5    0.0
         2                       40.777328             2          4.0    0.0
         2                       40.723015             2         11.0    0.0
         2                       40.736637             1         27.0    0.0
         2                       40.758331             1         28.0    0.0
...                                    ...           ...          ...    ...
         2                       40.759350             2         52.0    0.0
         2                       40.678223             1         22.5    0.5
         2                       40.807156             1         14.0    0.5
         2                       40.721748             2          9.0    0.5
         2                       40.754749             1         10.5    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
1        2                    0.5        1.30          0.00
         2                    0.5        0.00          0.00
         2                    0.5        0.00          0.00
         2                    0.5        5.55          0.00
         2                    0.5        5.76          0.00
...                           ...         ...           ...
         2                    0.5        0.00          5.54
         2                    0.5        4.76          0.00
         2                    0.5        3.05          0.00
         2                    0.5        0.00          0.00
         2                    0.5        2.35          0.00

                          improvement_surcharge  total_amount
VendorID passenger_count
1        2                                  0.3          6.60
         2                                  0.3          4.80
         2                                  0.3         11.80
         2                                  0.3         33.35
         2                                  0.3         34.56
...                                         ...           ...
         2                                  0.3         58.34
         2                                  0.3         28.56
         2                                  0.3         18.35
         2                                  0.3         10.30
         2                                  0.3         14.15

[592 rows x 17 columns]

In [21]:
# what if I want passenger_count == 2, ignoring the vendor ID?

(
    df
    .set_index(['VendorID', 'passenger_count'])
    .sort_index()
    .xs(2,    # value that I want from the multi-index
        level='passenger_count')  # which dimension/column of the multi-index
)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
VendorID,,,,,,,,,,,,,,,,,
1,2015-06-02 11:19:41,2015-06-02 11:23:56,0.50,-73.954803,40.765667,1,N,-73.962517,40.768044,1,4.5,0.0,0.5,1.30,0.0,0.3,6.60
1,2015-06-02 11:19:42,2015-06-02 11:22:33,0.60,-73.971939,40.781902,1,N,-73.978149,40.777328,2,4.0,0.0,0.5,0.00,0.0,0.3,4.80
1,2015-06-02 11:19:55,2015-06-02 11:34:39,1.90,-73.990143,40.740814,1,N,-74.005508,40.723015,2,11.0,0.0,0.5,0.00,0.0,0.3,11.80
1,2015-06-02 11:20:05,2015-06-02 12:02:22,5.30,-73.955170,40.788544,1,N,-74.001060,40.736637,1,27.0,0.0,0.5,5.55,0.0,0.3,33.35
1,2015-06-02 11:20:20,2015-06-02 12:07:49,3.80,-74.008652,40.719646,1,N,-73.975044,40.758331,1,28.0,0.0,0.5,5.76,0.0,0.3,34.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2015-06-01 00:13:20,2015-06-01 00:22:16,1.23,-73.975845,40.748848,1,N,-73.983299,40.741508,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56
2,2015-06-01 00:13:26,2015-06-01 00:26:25,7.84,-73.954742,40.773720,1,N,-73.989700,40.702301,1,23.0,0.5,0.5,3.50,0.0,0.3,27.80
2,2015-06-01 00:13:39,2015-06-01 00:21:50,2.26,-73.972954,40.793121,1,N,-73.951729,40.819489,2,9.0,0.5,0.5,0.00,0.0,0.3,10.30
2,2015-06-01 00:13:11,2015-06-01 00:17:44,1.31,-73.987633,40.760452,1,N,-73.989281,40.753223,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30
2,2015-06-01 00:13:33,2015-06-01 00:20:36,1.68,-73.969582,40.753952,1,N,-73.991333,40.750706,2,7.5,0.5,0.5,0.00,0.0,0.3,8.80

In [25]:
# what if we want vendorID 1, passenger_count 2?

(
    df
    .set_index(['VendorID', 'passenger_count'])
    .sort_index()
    .xs((1, 2),    # values that I want from the multi-index
        level=('VendorID', 'passenger_count'))  # which dimension/column of the multi-index
)

                         tpep_pickup_datetime tpep_dropoff_datetime  \
VendorID passenger_count
1        2                2015-06-02 11:19:41   2015-06-02 11:23:56
         2                2015-06-02 11:19:42   2015-06-02 11:22:33
         2                2015-06-02 11:19:55   2015-06-02 11:34:39
         2                2015-06-02 11:20:05   2015-06-02 12:02:22
         2                2015-06-02 11:20:20   2015-06-02 12:07:49
...                                       ...                   ...
         2                2015-06-01 00:12:31   2015-06-01 00:12:56
         2                2015-06-01 00:12:42   2015-06-01 00:35:10
         2                2015-06-01 00:13:06   2015-06-01 00:26:26
         2                2015-06-01 00:13:30   2015-06-01 00:22:49
         2                2015-06-01 00:13:14   2015-06-01 00:23:25

                          trip_distance  pickup_longitude  pickup_latitude  \
VendorID passenger_count
1        2                          0.5        -73.954803        40.765667
         2                          0.6        -73.971939        40.781902
         2                          1.9        -73.990143        40.740814
         2                          5.3        -73.955170        40.788544
         2                          3.8        -74.008652        40.719646
...                                 ...               ...              ...
         2                          2.4        -73.984634        40.759377
         2                          6.2        -73.982460        40.678112
         2                          3.9        -73.989685        40.757469
         2                          2.2        -74.002075        40.745571
         2                          2.7        -73.989502        40.729572

                          RateCodeID store_and_fwd_flag  dropoff_longitude  \
VendorID passenger_count
1        2                         1                  N         -73.962517
         2                         1                  N         -73.978149
         2                         1                  N         -74.005508
         2                         1                  N         -74.001060
         2                         1                  N         -73.975044
...                              ...                ...                ...
         2                         2                  N         -73.984604
         2                         1                  N         -73.982506
         2                         1                  N         -73.964226
         2                         1                  N         -73.989235
         2                         1                  N         -73.995644

                          dropoff_latitude  payment_type  fare_amount  extra  \
VendorID passenger_count
1        2                       40.768044             1          4.5    0.0
         2                       40.777328             2          4.0    0.0
         2                       40.723015             2         11.0    0.0
         2                       40.736637             1         27.0    0.0
         2                       40.758331             1         28.0    0.0
...                                    ...           ...          ...    ...
         2                       40.759350             2         52.0    0.0
         2                       40.678223             1         22.5    0.5
         2                       40.807156             1         14.0    0.5
         2                       40.721748             2          9.0    0.5
         2                       40.754749             1         10.5    0.5

                          mta_tax  tip_amount  tolls_amount  \
VendorID passenger_count
1        2                    0.5        1.30          0.00
         2                    0.5        0.00          0.00
         2                    0.5        0.00          0.00
         2                    0.5        5.55          0.00
         2                    0.5        5.76          0.00
...                           ...         ...           ...
         2                    0.5        0.00          5.54
         2                    0.5        4.76          0.00
         2                    0.5        3.05          0.00
         2                    0.5        0.00          0.00
         2                    0.5        2.35          0.00

                          improvement_surcharge  total_amount
VendorID passenger_count
1        2                                  0.3          6.60
         2                                  0.3          4.80
         2                                  0.3         11.80
         2                                  0.3         33.35
         2                                  0.3         34.56
...                                         ...           ...
         2                                  0.3         58.34
         2                                  0.3         28.56
         2                                  0.3         18.35
         2                                  0.3         10.30
         2                                  0.3         14.15

[592 rows x 17 columns]

In [28]:
df = pd.read_csv('taxi.csv',
                usecols=['trip_distance', 'total_amount', 'passenger_count'])
df

      passenger_count  trip_distance  total_amount
0                   1           1.63         17.80
1                   1           0.46          8.30
2                   1           0.87         11.00
3                   1           2.13         17.16
4                   1           1.40         10.30
...               ...            ...           ...
9994                1           2.70         12.30
9995                1           4.50         20.30
9996                1           5.59         22.30
9997                6           1.54          7.80
9998                1           5.80         26.75

[9999 rows x 3 columns]

In [29]:
df.mean()

passenger_count     1.659466
trip_distance       3.158511
total_amount       17.552472
dtype: float64

In [30]:
df.std()

passenger_count     1.333306
trip_distance       4.037516
total_amount       15.137990
dtype: float64

In [34]:
df = pd.read_csv('taxi.csv',
      index_col=['VendorID', 'passenger_count']).T
df

VendorID                                 2                       \
passenger_count                          1                    1
tpep_pickup_datetime   2015-06-02 11:19:29  2015-06-02 11:19:30
tpep_dropoff_datetime  2015-06-02 11:47:52  2015-06-02 11:27:56
trip_distance                         1.63                 0.46
pickup_longitude                 -73.95443           -73.971443
pickup_latitude                  40.764141            40.758942
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude               -73.974754           -73.978539
dropoff_latitude                 40.754093            40.761909
payment_type                             2                    1
fare_amount                           17.0                  6.5
extra                                  0.0                  0.0
mta_tax                                0.5                  0.5
tip_amount                             0.0                  1.0
tolls_amount                           0.0                  0.0
improvement_surcharge                  0.3                  0.3
total_amount                          17.8                  8.3

VendorID                                                         \
passenger_count                          1                    1
tpep_pickup_datetime   2015-06-02 11:19:31  2015-06-02 11:19:31
tpep_dropoff_datetime  2015-06-02 11:30:30  2015-06-02 11:39:02
trip_distance                         0.87                 2.13
pickup_longitude                -73.978111           -73.945892
pickup_latitude                  40.738434            40.773529
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude               -73.990273           -73.971527
dropoff_latitude                 40.745438             40.76033
payment_type                             1                    1
fare_amount                            8.0                 13.5
extra                                  0.0                  0.0
mta_tax                                0.5                  0.5
tip_amount                             2.2                 2.86
tolls_amount                           0.0                  0.0
improvement_surcharge                  0.3                  0.3
total_amount                          11.0                17.16

VendorID                                 1                       \
passenger_count                          1                    1
tpep_pickup_datetime   2015-06-02 11:19:32  2015-06-02 11:19:33
tpep_dropoff_datetime  2015-06-02 11:32:49  2015-06-02 11:28:48
trip_distance                          1.4                  1.4
pickup_longitude                -73.979088           -73.944641
pickup_latitude                  40.776772            40.779465
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude               -73.982162           -73.961365
dropoff_latitude                 40.758999            40.771561
payment_type                             2                    1
fare_amount                            9.5                  8.0
extra                                  0.0                  0.0
mta_tax                                0.5                  0.5
tip_amount                             0.0                 1.75
tolls_amount                           0.0                  0.0
improvement_surcharge                  0.3                  0.3
total_amount                          10.3                10.55

VendorID                                                         \
passenger_count                          1                    4
tpep_pickup_datetime   2015-06-02 11:19:34  2015-06-02 11:19:35
tpep_dropoff_datetime  2015-06-02 11:38:46  2015-06-02 12:36:46
trip_distance                          1.8                 11.9
pickup_longitude                -73.992867           -73.863075
pickup_latitude                  40.748211            40.769253
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude               -73.969772            -73.98671
dropoff_latitude                 40.748459            40.761307
payment_type                             1                    1
fare_amount                           12.5                 52.5
extra                                  0.0                  0.0
mta_tax                                0.5                  0.5
tip_amount                             3.0                 15.0
tolls_amount                           0.0                 5.54
improvement_surcharge                  0.3                  0.3
total_amount                          16.3                73.84

VendorID                                 2                    1  ...  \
passenger_count                          1                    1  ...
tpep_pickup_datetime   2015-06-02 11:19:36  2015-06-02 11:19:38  ...
tpep_dropoff_datetime  2015-06-02 11:45:19  2015-06-02 11:23:50  ...
trip_distance                         1.27                  0.6  ...
pickup_longitude                -73.991432           -73.970734  ...
pickup_latitude                  40.749306            40.796207  ...
RateCodeID                               1                    1  ...
store_and_fwd_flag                       N                    N  ...
dropoff_longitude               -73.985062            -73.97747  ...
dropoff_latitude                 40.759525            40.789509  ...
payment_type                             2                    1  ...
fare_amount                           15.0                  5.0  ...
extra                                  0.0                  0.0  ...
mta_tax                                0.5                  0.5  ...
tip_amount                             0.0                  0.5  ...
tolls_amount                           0.0                  0.0  ...
improvement_surcharge                  0.3                  0.3  ...
total_amount                          15.8                  6.3  ...

VendorID                                 2                       \
passenger_count                          6                    1
tpep_pickup_datetime   2015-06-01 00:13:41  2015-06-01 00:13:42
tpep_dropoff_datetime  2015-06-01 00:17:44  2015-06-01 00:34:32
trip_distance                         1.34                 6.07
pickup_longitude                -74.005898           -73.979309
pickup_latitude                  40.735851            40.723488
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude               -73.991318           -73.958405
dropoff_latitude                 40.748177            40.673611
payment_type                             1                    1
fare_amount                            6.0                 20.0
extra                                  0.5                  0.5
mta_tax                                0.5                  0.5
tip_amount                            1.46                 5.32
tolls_amount                           0.0                  0.0
improvement_surcharge                  0.3                  0.3
total_amount                          8.76                26.62

VendorID                                                         \
passenger_count                          1                    1
tpep_pickup_datetime   2015-06-01 00:13:43  2015-06-01 00:13:45
tpep_dropoff_datetime  2015-06-01 00:21:49  2015-06-01 00:36:43
trip_distance                         1.48                 6.37
pickup_longitude                -73.988739           -74.006752
pickup_latitude                   40.75695            40.744141
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude                -73.97686           -73.922806
dropoff_latitude                 40.743309             40.76403
payment_type                             2                    2
fare_amount                            8.0                 22.0
extra                                  0.5                  0.5
mta_tax                                0.5                  0.5
tip_amount                             0.0                  0.0
tolls_amount                           0.0                  0.0
improvement_surcharge                  0.3                  0.3
total_amount                           9.3                 23.3

VendorID                                 1                       \
passenger_count                          1                    1
tpep_pickup_datetime   2015-06-01 00:13:47  2015-06-01 00:12:59
tpep_dropoff_datetime  2015-06-01 00:33:03  2015-06-01 00:24:18
trip_distance                          4.1                  2.7
pickup_longitude                -73.988991           -73.947792
pickup_latitude                  40.721436            40.814972
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude                -73.99575           -73.973358
dropoff_latitude                 40.764694            40.783638
payment_type                             3                    2
fare_amount                           17.0                 11.0
extra                                  0.5                  0.5
mta_tax                                0.5                  0.5
tip_amount                             0.0                  0.0
tolls_amount                           0.0                  0.0
improvement_surcharge                  0.3                  0.3
total_amount                          18.3                 12.3

VendorID                                                      2  \
passenger_count                          1                    1
tpep_pickup_datetime   2015-06-01 00:12:59  2015-06-01 00:13:00
tpep_dropoff_datetime  2015-06-01 00:28:16  2015-06-01 00:37:25
trip_distance                          4.5                 5.59
pickup_longitude                -74.004066           -73.994377
pickup_latitude                  40.747818            40.766102
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude               -73.953758           -73.903206
dropoff_latitude                 40.779285            40.750546
payment_type                             1                    2
fare_amount                           16.0                 21.0
extra                                  0.5                  0.5
mta_tax                                0.5                  0.5
tip_amount                             3.0                  0.0
tolls_amount                           0.0                  0.0
improvement_surcharge                  0.3                  0.3
total_amount                          20.3                 22.3

VendorID                                                      1
passenger_count                          6                    1
tpep_pickup_datetime   2015-06-01 00:13:02  2015-06-01 00:13:04
tpep_dropoff_datetime  2015-06-01 00:19:10  2015-06-01 00:36:33
trip_distance                         1.54                  5.8
pickup_longitude                -73.978302           -73.983215
pickup_latitude                  40.748531            40.726414
RateCodeID                               1                    1
store_and_fwd_flag                       N                    N
dropoff_longitude               -73.989166           -73.924133
dropoff_latitude                 40.762852            40.701645
payment_type                             2                    1
fare_amount                            6.5                 21.0
extra                                  0.5                  0.5
mta_tax                                0.5                  0.5
tip_amount                             0.0                 4.45
tolls_amount                           0.0                  0.0
improvement_surcharge                  0.3                  0.3
total_amount                           7.8                26.75

[17 rows x 9999 columns]

In [36]:
df.xs(1, level='VendorID', axis='columns')

passenger_count,1,1,1,4,1,2,2,1,1,1,...,1,1,1,1,1,1,1,1,1,1
tpep_pickup_datetime,2015-06-02 11:19:32,2015-06-02 11:19:33,2015-06-02 11:19:34,2015-06-02 11:19:35,2015-06-02 11:19:38,2015-06-02 11:19:41,2015-06-02 11:19:42,2015-06-02 11:19:44,2015-06-02 11:19:45,2015-06-02 11:19:47,...,2015-06-01 00:13:25,2015-06-01 00:13:28,2015-06-01 00:13:29,2015-06-01 00:13:30,2015-06-01 00:13:36,2015-06-01 00:13:39,2015-06-01 00:13:47,2015-06-01 00:12:59,2015-06-01 00:12:59,2015-06-01 00:13:04
tpep_dropoff_datetime,2015-06-02 11:32:49,2015-06-02 11:28:48,2015-06-02 11:38:46,2015-06-02 12:36:46,2015-06-02 11:23:50,2015-06-02 11:23:56,2015-06-02 11:22:33,2015-06-02 11:30:31,2015-06-02 11:42:03,2015-06-02 11:26:48,...,2015-06-01 00:32:43,2015-06-01 00:38:39,2015-06-01 00:30:18,2015-06-01 00:32:41,2015-06-01 00:19:18,2015-06-01 00:18:22,2015-06-01 00:33:03,2015-06-01 00:24:18,2015-06-01 00:28:16,2015-06-01 00:36:33
trip_distance,1.4,1.4,1.8,11.9,0.6,0.5,0.6,0.7,1.9,1.1,...,12.6,11.3,4.6,9.3,1.4,0.9,4.1,2.7,4.5,5.8
pickup_longitude,-73.979088,-73.944641,-73.992867,-73.863075,-73.970734,-73.954803,-73.971939,-73.958519,-74.007637,-73.955643,...,-73.874565,-73.983879,-73.981277,-74.00209,-73.983498,-73.997124,-73.988991,-73.947792,-74.004066,-73.983215
pickup_latitude,40.776772,40.779465,40.748211,40.769253,40.796207,40.765667,40.781902,40.781433,40.731834,40.776382,...,40.774143,40.742504,40.747231,40.739578,40.726173,40.747105,40.721436,40.814972,40.747818,40.726414
RateCodeID,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
store_and_fwd_flag,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
dropoff_longitude,-73.982162,-73.961365,-73.969772,-73.98671,-73.97747,-73.962517,-73.978149,-73.959229,-73.990746,-73.960464,...,-73.860626,-73.959808,-73.960579,-73.904282,-73.98584,-73.986977,-73.99575,-73.973358,-73.953758,-73.924133
dropoff_latitude,40.758999,40.771561,40.748459,40.761307,40.789509,40.768044,40.777328,40.774303,40.752304,40.765522,...,40.668133,40.647316,40.71257,40.753635,40.740742,40.756107,40.764694,40.783638,40.779285,40.701645
payment_type,2,1,1,1,1,1,2,2,1,2,...,2,1,1,2,1,1,3,2,1,1
fare_amount,9.5,8.0,12.5,52.5,5.0,4.5,4.0,8.0,14.5,6.5,...,35.0,33.5,17.0,27.5,6.5,5.5,17.0,11.0,16.0,21.0
extra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
mta_tax,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
tip_amount,0.0,1.75,3.0,15.0,0.5,1.3,0.0,0.0,3.82,0.0,...,0.0,6.95,1.08,0.0,0.5,1.7,0.0,0.0,3.0,4.45
tolls_amount,0.0,0.0,0.0,5.54,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
improvement_surcharge,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3
total_amount,10.3,10.55,16.3,73.84,6.3,6.6,4.8,8.8,19.12,7.3,...,36.3,41.75,19.38,28.8,8.3,8.5,18.3,12.3,20.3,26.75

In [37]:
!head olympic_athlete_events.csv

"ID","Name","Sex","Age","Height","Weight","Team","NOC","Games","Year","Season","City","Sport","Event","Medal"
"1","A Dijiang","M",24,180,80,"China","CHN","1992 Summer",1992,"Summer","Barcelona","Basketball","Basketball Men's Basketball",NA
"2","A Lamusi","M",23,170,60,"China","CHN","2012 Summer",2012,"Summer","London","Judo","Judo Men's Extra-Lightweight",NA
"3","Gunnar Nielsen Aaby","M",24,NA,NA,"Denmark","DEN","1920 Summer",1920,"Summer","Antwerpen","Football","Football Men's Football",NA
"4","Edgar Lindenau Aabye","M",34,NA,NA,"Denmark/Sweden","DEN","1900 Summer",1900,"Summer","Paris","Tug-Of-War","Tug-Of-War Men's Tug-Of-War","Gold"
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",21,185,82,"Netherlands","NED","1988 Winter",1988,"Winter","Calgary","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 500 metres",NA
"5","Christine Jacoba Aaftink","F",25,185,82,"Netherlands","NED","1992 Winter",1992,"Winter","Albertville","Speed Skating","Speed Skating Women's 1,000 metres",NA
"5","Christine Jacoba Aaftink","F",27,185,82,"Netherlands","NED","1994 Winter",1994,"Winter","Lillehammer","Speed Skating","Speed Skating Women's 500 metres",NA

# Exercise: Olympic games

File is at https://files.lerner.co.il/pandas-workout-data.zip

Or on GitHub: https://github.com/reuven/apple-2024-q4-data

1. Read the Olympics data into a data frame. Make the index with `Year`, `Season`, `Sport`, and `Event`.
2. What is the average age for summer games?
3. What team has won the most medals in archery?
4. How tall was the tallest ever tennis player?

In [38]:
filename = 'olympic_athlete_events.csv'

df = pd.read_csv(filename,
                index_col=['Year', 'Season', 'Sport', 'Event'])
df

                                                                        ID  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                    1
2012 Summer Judo          Judo Men's Extra-Lightweight                   2
1920 Summer Football      Football Men's Football                        3
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                    4
1988 Winter Speed Skating Speed Skating Women's 500 metres               5
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                135569
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  135570
                          Ski Jumping Men's Large Hill, Team        135570
1998 Winter Bobsleigh     Bobsleigh Men's Four                      135571
2002 Winter Bobsleigh     Bobsleigh Men's Four                      135571

                                                                                        Name  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                              A Dijiang
2012 Summer Judo          Judo Men's Extra-Lightweight                              A Lamusi
1920 Summer Football      Football Men's Football                        Gunnar Nielsen Aaby
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                   Edgar Lindenau Aabye
1988 Winter Speed Skating Speed Skating Women's 500 metres          Christine Jacoba Aaftink
...                                                                                      ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                              Andrzej ya
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual                  Piotr ya
                          Ski Jumping Men's Large Hill, Team                        Piotr ya
1998 Winter Bobsleigh     Bobsleigh Men's Four                            Tomasz Ireneusz ya
2002 Winter Bobsleigh     Bobsleigh Men's Four                            Tomasz Ireneusz ya

                                                                   Sex   Age  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                M  24.0
2012 Summer Judo          Judo Men's Extra-Lightweight               M  23.0
1920 Summer Football      Football Men's Football                    M  24.0
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                M  34.0
1988 Winter Speed Skating Speed Skating Women's 500 metres           F  21.0
...                                                                 ..   ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 M  29.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   M  27.0
                          Ski Jumping Men's Large Hill, Team         M  27.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                       M  30.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                       M  34.0

                                                                    Height  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                180.0
2012 Summer Judo          Judo Men's Extra-Lightweight               170.0
1920 Summer Football      Football Men's Football                      NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                  NaN
1988 Winter Speed Skating Speed Skating Women's 500 metres           185.0
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 179.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   176.0
                          Ski Jumping Men's Large Hill, Team         176.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                       185.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                       185.0

                                                                    Weight  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                 80.0
2012 Summer Judo          Judo Men's Extra-Lightweight                60.0
1920 Summer Football      Football Men's Football                      NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                  NaN
1988 Winter Speed Skating Speed Skating Women's 500 metres            82.0
...                                                                    ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                  89.0
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual    59.0
                          Ski Jumping Men's Large Hill, Team          59.0
1998 Winter Bobsleigh     Bobsleigh Men's Four                        96.0
2002 Winter Bobsleigh     Bobsleigh Men's Four                        96.0

                                                                              Team  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                        China
2012 Summer Judo          Judo Men's Extra-Lightweight                       China
1920 Summer Football      Football Men's Football                          Denmark
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Denmark/Sweden
1988 Winter Speed Skating Speed Skating Women's 500 metres             Netherlands
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                      Poland-1
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual          Poland
                          Ski Jumping Men's Large Hill, Team                Poland
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Poland
2002 Winter Bobsleigh     Bobsleigh Men's Four                              Poland

                                                                    NOC  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball               CHN
2012 Summer Judo          Judo Men's Extra-Lightweight              CHN
1920 Summer Football      Football Men's Football                   DEN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               DEN
1988 Winter Speed Skating Speed Skating Women's 500 metres          NED
...                                                                 ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                POL
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  POL
                          Ski Jumping Men's Large Hill, Team        POL
1998 Winter Bobsleigh     Bobsleigh Men's Four                      POL
2002 Winter Bobsleigh     Bobsleigh Men's Four                      POL

                                                                          Games  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball               1992 Summer
2012 Summer Judo          Judo Men's Extra-Lightweight              2012 Summer
1920 Summer Football      Football Men's Football                   1920 Summer
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               1900 Summer
1988 Winter Speed Skating Speed Skating Women's 500 metres          1988 Winter
...                                                                         ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                1976 Winter
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual  2014 Winter
                          Ski Jumping Men's Large Hill, Team        2014 Winter
1998 Winter Bobsleigh     Bobsleigh Men's Four                      1998 Winter
2002 Winter Bobsleigh     Bobsleigh Men's Four                      2002 Winter

                                                                              City  \
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                    Barcelona
2012 Summer Judo          Judo Men's Extra-Lightweight                      London
1920 Summer Football      Football Men's Football                        Antwerpen
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War                        Paris
1988 Winter Speed Skating Speed Skating Women's 500 metres                 Calgary
...                                                                            ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                     Innsbruck
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual           Sochi
                          Ski Jumping Men's Large Hill, Team                 Sochi
1998 Winter Bobsleigh     Bobsleigh Men's Four                              Nagano
2002 Winter Bobsleigh     Bobsleigh Men's Four                      Salt Lake City

                                                                   Medal
Year Season Sport         Event
1992 Summer Basketball    Basketball Men's Basketball                NaN
2012 Summer Judo          Judo Men's Extra-Lightweight               NaN
1920 Summer Football      Football Men's Football                    NaN
1900 Summer Tug-Of-War    Tug-Of-War Men's Tug-Of-War               Gold
1988 Winter Speed Skating Speed Skating Women's 500 metres           NaN
...                                                                  ...
1976 Winter Luge          Luge Mixed (Men)'s Doubles                 NaN
2014 Winter Ski Jumping   Ski Jumping Men's Large Hill, Individual   NaN
                          Ski Jumping Men's Large Hill, Team         NaN
1998 Winter Bobsleigh     Bobsleigh Men's Four                       NaN
2002 Winter Bobsleigh     Bobsleigh Men's Four                       NaN

[271116 rows x 11 columns]

In [39]:
df.loc[1998]

                                                                                    ID  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                            20
                            Alpine Skiing Men's Super G                             20
                            Alpine Skiing Men's Giant Slalom                        20
                            Alpine Skiing Men's Combined                            20
       Bobsleigh            Bobsleigh Men's Four                                    35
...                                                                                ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres            135551
                            Cross Country Skiing Men's 10/15 kilometres Pur...  135551
       Speed Skating        Speed Skating Men's 1,500 metres                    135559
                            Speed Skating Men's 5,000 metres                    135559
       Bobsleigh            Bobsleigh Men's Four                                135571

                                                                                                  Name  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                            Kjetil Andr Aamodt
                            Alpine Skiing Men's Super G                             Kjetil Andr Aamodt
                            Alpine Skiing Men's Giant Slalom                        Kjetil Andr Aamodt
                            Alpine Skiing Men's Combined                            Kjetil Andr Aamodt
       Bobsleigh            Bobsleigh Men's Four                                Dagfinn Sverre Aarskog
...                                                                                                ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres               Vladislavas Zybaila
                            Cross Country Skiing Men's 10/15 kilometres Pur...     Vladislavas Zybaila
       Speed Skating        Speed Skating Men's 1,500 metres                          Pawe Jan Zygmunt
                            Speed Skating Men's 5,000 metres                          Pawe Jan Zygmunt
       Bobsleigh            Bobsleigh Men's Four                                    Tomasz Ireneusz ya

                                                                               Sex  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                         M
                            Alpine Skiing Men's Super G                          M
                            Alpine Skiing Men's Giant Slalom                     M
                            Alpine Skiing Men's Combined                         M
       Bobsleigh            Bobsleigh Men's Four                                 M
...                                                                             ..
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres             M
                            Cross Country Skiing Men's 10/15 kilometres Pur...   M
       Speed Skating        Speed Skating Men's 1,500 metres                     M
                            Speed Skating Men's 5,000 metres                     M
       Bobsleigh            Bobsleigh Men's Four                                 M

                                                                                 Age  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                        26.0
                            Alpine Skiing Men's Super G                         26.0
                            Alpine Skiing Men's Giant Slalom                    26.0
                            Alpine Skiing Men's Combined                        26.0
       Bobsleigh            Bobsleigh Men's Four                                24.0
...                                                                              ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres            23.0
                            Cross Country Skiing Men's 10/15 kilometres Pur...  23.0
       Speed Skating        Speed Skating Men's 1,500 metres                    25.0
                            Speed Skating Men's 5,000 metres                    25.0
       Bobsleigh            Bobsleigh Men's Four                                30.0

                                                                                Height  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                         176.0
                            Alpine Skiing Men's Super G                          176.0
                            Alpine Skiing Men's Giant Slalom                     176.0
                            Alpine Skiing Men's Combined                         176.0
       Bobsleigh            Bobsleigh Men's Four                                 190.0
...                                                                                ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres             178.0
                            Cross Country Skiing Men's 10/15 kilometres Pur...   178.0
       Speed Skating        Speed Skating Men's 1,500 metres                     182.0
                            Speed Skating Men's 5,000 metres                     182.0
       Bobsleigh            Bobsleigh Men's Four                                 185.0

                                                                                Weight  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                          85.0
                            Alpine Skiing Men's Super G                           85.0
                            Alpine Skiing Men's Giant Slalom                      85.0
                            Alpine Skiing Men's Combined                          85.0
       Bobsleigh            Bobsleigh Men's Four                                  98.0
...                                                                                ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres              75.0
                            Cross Country Skiing Men's 10/15 kilometres Pur...    75.0
       Speed Skating        Speed Skating Men's 1,500 metres                      79.0
                            Speed Skating Men's 5,000 metres                      79.0
       Bobsleigh            Bobsleigh Men's Four                                  96.0

                                                                                     Team  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                           Norway
                            Alpine Skiing Men's Super G                            Norway
                            Alpine Skiing Men's Giant Slalom                       Norway
                            Alpine Skiing Men's Combined                           Norway
       Bobsleigh            Bobsleigh Men's Four                                   Norway
...                                                                                   ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres            Lithuania
                            Cross Country Skiing Men's 10/15 kilometres Pur...  Lithuania
       Speed Skating        Speed Skating Men's 1,500 metres                       Poland
                            Speed Skating Men's 5,000 metres                       Poland
       Bobsleigh            Bobsleigh Men's Four                                   Poland

                                                                                NOC  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                        NOR
                            Alpine Skiing Men's Super G                         NOR
                            Alpine Skiing Men's Giant Slalom                    NOR
                            Alpine Skiing Men's Combined                        NOR
       Bobsleigh            Bobsleigh Men's Four                                NOR
...                                                                             ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres            LTU
                            Cross Country Skiing Men's 10/15 kilometres Pur...  LTU
       Speed Skating        Speed Skating Men's 1,500 metres                    POL
                            Speed Skating Men's 5,000 metres                    POL
       Bobsleigh            Bobsleigh Men's Four                                POL

                                                                                      Games  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                        1998 Winter
                            Alpine Skiing Men's Super G                         1998 Winter
                            Alpine Skiing Men's Giant Slalom                    1998 Winter
                            Alpine Skiing Men's Combined                        1998 Winter
       Bobsleigh            Bobsleigh Men's Four                                1998 Winter
...                                                                                     ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres            1998 Winter
                            Cross Country Skiing Men's 10/15 kilometres Pur...  1998 Winter
       Speed Skating        Speed Skating Men's 1,500 metres                    1998 Winter
                            Speed Skating Men's 5,000 metres                    1998 Winter
       Bobsleigh            Bobsleigh Men's Four                                1998 Winter

                                                                                  City  \
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                        Nagano
                            Alpine Skiing Men's Super G                         Nagano
                            Alpine Skiing Men's Giant Slalom                    Nagano
                            Alpine Skiing Men's Combined                        Nagano
       Bobsleigh            Bobsleigh Men's Four                                Nagano
...                                                                                ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres            Nagano
                            Cross Country Skiing Men's 10/15 kilometres Pur...  Nagano
       Speed Skating        Speed Skating Men's 1,500 metres                    Nagano
                            Speed Skating Men's 5,000 metres                    Nagano
       Bobsleigh            Bobsleigh Men's Four                                Nagano

                                                                               Medal
Season Sport                Event
Winter Alpine Skiing        Alpine Skiing Men's Downhill                         NaN
                            Alpine Skiing Men's Super G                          NaN
                            Alpine Skiing Men's Giant Slalom                     NaN
                            Alpine Skiing Men's Combined                         NaN
       Bobsleigh            Bobsleigh Men's Four                                 NaN
...                                                                              ...
       Cross Country Skiing Cross Country Skiing Men's 50 kilometres             NaN
                            Cross Country Skiing Men's 10/15 kilometres Pur...   NaN
       Speed Skating        Speed Skating Men's 1,500 metres                     NaN
                            Speed Skating Men's 5,000 metres                     NaN
       Bobsleigh            Bobsleigh Men's Four                                 NaN

[3605 rows x 11 columns]

In [40]:
df.loc[(1998, 'Winter')]

/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_1839/1004536296.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[(1998, 'Winter')]

                                                                             ID  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                            20
                     Alpine Skiing Men's Super G                             20
                     Alpine Skiing Men's Giant Slalom                        20
                     Alpine Skiing Men's Combined                            20
Bobsleigh            Bobsleigh Men's Four                                    35
...                                                                         ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres            135551
                     Cross Country Skiing Men's 10/15 kilometres Pur...  135551
Speed Skating        Speed Skating Men's 1,500 metres                    135559
                     Speed Skating Men's 5,000 metres                    135559
Bobsleigh            Bobsleigh Men's Four                                135571

                                                                                           Name  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                            Kjetil Andr Aamodt
                     Alpine Skiing Men's Super G                             Kjetil Andr Aamodt
                     Alpine Skiing Men's Giant Slalom                        Kjetil Andr Aamodt
                     Alpine Skiing Men's Combined                            Kjetil Andr Aamodt
Bobsleigh            Bobsleigh Men's Four                                Dagfinn Sverre Aarskog
...                                                                                         ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres               Vladislavas Zybaila
                     Cross Country Skiing Men's 10/15 kilometres Pur...     Vladislavas Zybaila
Speed Skating        Speed Skating Men's 1,500 metres                          Pawe Jan Zygmunt
                     Speed Skating Men's 5,000 metres                          Pawe Jan Zygmunt
Bobsleigh            Bobsleigh Men's Four                                    Tomasz Ireneusz ya

                                                                        Sex  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                         M
                     Alpine Skiing Men's Super G                          M
                     Alpine Skiing Men's Giant Slalom                     M
                     Alpine Skiing Men's Combined                         M
Bobsleigh            Bobsleigh Men's Four                                 M
...                                                                      ..
Cross Country Skiing Cross Country Skiing Men's 50 kilometres             M
                     Cross Country Skiing Men's 10/15 kilometres Pur...   M
Speed Skating        Speed Skating Men's 1,500 metres                     M
                     Speed Skating Men's 5,000 metres                     M
Bobsleigh            Bobsleigh Men's Four                                 M

                                                                          Age  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                        26.0
                     Alpine Skiing Men's Super G                         26.0
                     Alpine Skiing Men's Giant Slalom                    26.0
                     Alpine Skiing Men's Combined                        26.0
Bobsleigh            Bobsleigh Men's Four                                24.0
...                                                                       ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres            23.0
                     Cross Country Skiing Men's 10/15 kilometres Pur...  23.0
Speed Skating        Speed Skating Men's 1,500 metres                    25.0
                     Speed Skating Men's 5,000 metres                    25.0
Bobsleigh            Bobsleigh Men's Four                                30.0

                                                                         Height  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                         176.0
                     Alpine Skiing Men's Super G                          176.0
                     Alpine Skiing Men's Giant Slalom                     176.0
                     Alpine Skiing Men's Combined                         176.0
Bobsleigh            Bobsleigh Men's Four                                 190.0
...                                                                         ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres             178.0
                     Cross Country Skiing Men's 10/15 kilometres Pur...   178.0
Speed Skating        Speed Skating Men's 1,500 metres                     182.0
                     Speed Skating Men's 5,000 metres                     182.0
Bobsleigh            Bobsleigh Men's Four                                 185.0

                                                                         Weight  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                          85.0
                     Alpine Skiing Men's Super G                           85.0
                     Alpine Skiing Men's Giant Slalom                      85.0
                     Alpine Skiing Men's Combined                          85.0
Bobsleigh            Bobsleigh Men's Four                                  98.0
...                                                                         ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres              75.0
                     Cross Country Skiing Men's 10/15 kilometres Pur...    75.0
Speed Skating        Speed Skating Men's 1,500 metres                      79.0
                     Speed Skating Men's 5,000 metres                      79.0
Bobsleigh            Bobsleigh Men's Four                                  96.0

                                                                              Team  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                           Norway
                     Alpine Skiing Men's Super G                            Norway
                     Alpine Skiing Men's Giant Slalom                       Norway
                     Alpine Skiing Men's Combined                           Norway
Bobsleigh            Bobsleigh Men's Four                                   Norway
...                                                                            ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres            Lithuania
                     Cross Country Skiing Men's 10/15 kilometres Pur...  Lithuania
Speed Skating        Speed Skating Men's 1,500 metres                       Poland
                     Speed Skating Men's 5,000 metres                       Poland
Bobsleigh            Bobsleigh Men's Four                                   Poland

                                                                         NOC  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                        NOR
                     Alpine Skiing Men's Super G                         NOR
                     Alpine Skiing Men's Giant Slalom                    NOR
                     Alpine Skiing Men's Combined                        NOR
Bobsleigh            Bobsleigh Men's Four                                NOR
...                                                                      ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres            LTU
                     Cross Country Skiing Men's 10/15 kilometres Pur...  LTU
Speed Skating        Speed Skating Men's 1,500 metres                    POL
                     Speed Skating Men's 5,000 metres                    POL
Bobsleigh            Bobsleigh Men's Four                                POL

                                                                               Games  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                        1998 Winter
                     Alpine Skiing Men's Super G                         1998 Winter
                     Alpine Skiing Men's Giant Slalom                    1998 Winter
                     Alpine Skiing Men's Combined                        1998 Winter
Bobsleigh            Bobsleigh Men's Four                                1998 Winter
...                                                                              ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres            1998 Winter
                     Cross Country Skiing Men's 10/15 kilometres Pur...  1998 Winter
Speed Skating        Speed Skating Men's 1,500 metres                    1998 Winter
                     Speed Skating Men's 5,000 metres                    1998 Winter
Bobsleigh            Bobsleigh Men's Four                                1998 Winter

                                                                           City  \
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                        Nagano
                     Alpine Skiing Men's Super G                         Nagano
                     Alpine Skiing Men's Giant Slalom                    Nagano
                     Alpine Skiing Men's Combined                        Nagano
Bobsleigh            Bobsleigh Men's Four                                Nagano
...                                                                         ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres            Nagano
                     Cross Country Skiing Men's 10/15 kilometres Pur...  Nagano
Speed Skating        Speed Skating Men's 1,500 metres                    Nagano
                     Speed Skating Men's 5,000 metres                    Nagano
Bobsleigh            Bobsleigh Men's Four                                Nagano

                                                                        Medal
Sport                Event
Alpine Skiing        Alpine Skiing Men's Downhill                         NaN
                     Alpine Skiing Men's Super G                          NaN
                     Alpine Skiing Men's Giant Slalom                     NaN
                     Alpine Skiing Men's Combined                         NaN
Bobsleigh            Bobsleigh Men's Four                                 NaN
...                                                                       ...
Cross Country Skiing Cross Country Skiing Men's 50 kilometres             NaN
                     Cross Country Skiing Men's 10/15 kilometres Pur...   NaN
Speed Skating        Speed Skating Men's 1,500 metres                     NaN
                     Speed Skating Men's 5,000 metres                     NaN
Bobsleigh            Bobsleigh Men's Four                                 NaN

[3605 rows x 11 columns]

In [41]:
df.loc[(1998, 'Winter', 'Speed Skating')]

/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_1839/4255006415.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[(1998, 'Winter', 'Speed Skating')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,City,Medal
Event,,,,,,,,,,,
Speed Skating Men's 500 metres,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,Nagano,NaN
"Speed Skating Men's 1,000 metres",562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,Nagano,NaN
Speed Skating Men's 500 metres,892,Peter Adeberg,M,29.0,185.0,75.0,Germany,GER,1998 Winter,Nagano,NaN
"Speed Skating Men's 1,000 metres",892,Peter Adeberg,M,29.0,185.0,75.0,Germany,GER,1998 Winter,Nagano,NaN
"Speed Skating Men's 1,500 metres",892,Peter Adeberg,M,29.0,185.0,75.0,Germany,GER,1998 Winter,Nagano,NaN
...,...,...,...,...,...,...,...,...,...,...,...
"Speed Skating Women's 5,000 metres",134981,Carla Johanna Zijlstra (-Evans),F,28.0,163.0,57.0,Netherlands,NED,1998 Winter,Nagano,NaN
Speed Skating Women's 500 metres,135546,Sandra Kornelia Zwolle,F,26.0,174.0,65.0,Netherlands,NED,1998 Winter,Nagano,NaN
"Speed Skating Women's 1,000 metres",135546,Sandra Kornelia Zwolle,F,26.0,174.0,65.0,Netherlands,NED,1998 Winter,Nagano,NaN
"Speed Skating Men's 1,500 metres",135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,Nagano,NaN
"Speed Skating Men's 5,000 metres",135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,Nagano,NaN

In [42]:
df.head()

,,,,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,City,Medal
Year,Season,Sport,Event,,,,,,,,,,,
1992,Summer,Basketball,Basketball Men's Basketball,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,Barcelona,NaN
2012,Summer,Judo,Judo Men's Extra-Lightweight,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,London,NaN
1920,Summer,Football,Football Men's Football,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,Antwerpen,NaN
1900,Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,Paris,Gold
1988,Winter,Speed Skating,Speed Skating Women's 500 metres,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,Calgary,NaN

In [43]:
df.index

MultiIndex([(1992, 'Summer',    'Basketball', ...),
            (2012, 'Summer',          'Judo', ...),
            (1920, 'Summer',      'Football', ...),
            (1900, 'Summer',    'Tug-Of-War', ...),
            (1988, 'Winter', 'Speed Skating', ...),
            (1988, 'Winter', 'Speed Skating', ...),
            (1992, 'Winter', 'Speed Skating', ...),
            (1992, 'Winter', 'Speed Skating', ...),
            (1994, 'Winter', 'Speed Skating', ...),
            (1994, 'Winter', 'Speed Skating', ...),
            ...
            (2004, 'Summer',        'Hockey', ...),
            (1972, 'Summer',      'Football', ...),
            (2000, 'Summer',        'Rowing', ...),
            (2004, 'Summer',        'Rowing', ...),
            (2016, 'Summer',    'Basketball', ...),
            (1976, 'Winter',          'Luge', ...),
            (2014, 'Winter',   'Ski Jumping', ...),
            (2014, 'Winter',   'Ski Jumping', ...),
            (1998, 'Winter',     'Bobsleigh', ...),
            (2002, 'Winter',     'Bobsleigh', ...)],
           names=['Year', 'Season', 'Sport', 'Event'], length=271116)

In [44]:
df.index.names

FrozenList(['Year', 'Season', 'Sport', 'Event'])

In [47]:
# What is the average age for summer games?

(
    df
    .xs('Summer', level='Season')
    ['Age']
    .mean()
)

25.67405313948529

In [55]:
# What team has won the most medals in archery?

(
    df
    .xs('Archery', level='Sport')
    .dropna(subset='Medal')
    ['Team']
    .value_counts()
)

Team
South Korea           69
Belgium               52
France                48
United States         41
China                 19
Italy                 15
Great Britain         13
Netherlands            9
Chinese Taipei         9
Ukraine                8
Cincinnati Archers     8
Soviet Union           7
Japan                  7
Germany                7
Finland                6
Australia              5
Boston Archers         4
Russia                 4
Unified Team           4
Poland                 4
Potomac Archers        4
Indonesia              3
Spain                  3
Mexico                 2
Sweden                 2
Name: count, dtype: int64

In [57]:
# How tall was the tallest ever tennis player?

(
    df
    .xs('Tennis', level='Sport')
    ['Height']
    .max()
)

208.0

In [58]:
df = pd.read_csv('taxi.csv')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,1,2015-06-01 00:12:59,2015-06-01 00:24:18,1,2.70,-73.947792,40.814972,1,N,-73.973358,40.783638,2,11.0,0.5,0.5,0.00,0.0,0.3,12.30
9995,1,2015-06-01 00:12:59,2015-06-01 00:28:16,1,4.50,-74.004066,40.747818,1,N,-73.953758,40.779285,1,16.0,0.5,0.5,3.00,0.0,0.3,20.30
9996,2,2015-06-01 00:13:00,2015-06-01 00:37:25,1,5.59,-73.994377,40.766102,1,N,-73.903206,40.750546,2,21.0,0.5,0.5,0.00,0.0,0.3,22.30
9997,2,2015-06-01 00:13:02,2015-06-01 00:19:10,6,1.54,-73.978302,40.748531,1,N,-73.989166,40.762852,2,6.5,0.5,0.5,0.00,0.0,0.3,7.80
9998,1,2015-06-01 00:13:04,2015-06-01 00:36:33,1,5.80,-73.983215,40.726414,1,N,-73.924133,40.701645,1,21.0,0.5,0.5,4.45,0.0,0.3,26.75

In [59]:
df['passenger_count']

0       1
1       1
2       1
3       1
4       1
       ..
9994    1
9995    1
9996    1
9997    6
9998    1
Name: passenger_count, Length: 9999, dtype: int64

In [60]:
df['tpep_pickup_datetime']

0       2015-06-02 11:19:29
1       2015-06-02 11:19:30
2       2015-06-02 11:19:31
3       2015-06-02 11:19:31
4       2015-06-02 11:19:32
               ...
9994    2015-06-01 00:12:59
9995    2015-06-01 00:12:59
9996    2015-06-01 00:13:00
9997    2015-06-01 00:13:02
9998    2015-06-01 00:13:04
Name: tpep_pickup_datetime, Length: 9999, dtype: object

In [61]:
df.loc[0]

VendorID                                   2
tpep_pickup_datetime     2015-06-02 11:19:29
tpep_dropoff_datetime    2015-06-02 11:47:52
passenger_count                            1
trip_distance                           1.63
pickup_longitude                   -73.95443
pickup_latitude                    40.764141
RateCodeID                                 1
store_and_fwd_flag                         N
dropoff_longitude                 -73.974754
dropoff_latitude                   40.754093
payment_type                               2
fare_amount                             17.0
extra                                    0.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
improvement_surcharge                    0.3
total_amount                            17.8
Name: 0, dtype: object

In [63]:
df.loc[0].loc['RateCodeID'] = 9

/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_1839/4254690187.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc[0].loc['RateCodeID'] = 9
/var/folders/d9/v8tsklln4477fll05wkgcpth0000gn/T/ipykernel_1839/4254690187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0].loc['RateCodeID'] = 9

In [64]:
df.loc[0]

VendorID                                   2
tpep_pickup_datetime     2015-06-02 11:19:29
tpep_dropoff_datetime    2015-06-02 11:47:52
passenger_count                            1
trip_distance                           1.63
pickup_longitude                   -73.95443
pickup_latitude                    40.764141
RateCodeID                                 1
store_and_fwd_flag                         N
dropoff_longitude                 -73.974754
dropoff_latitude                   40.754093
payment_type                               2
fare_amount                             17.0
extra                                    0.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
improvement_surcharge                    0.3
total_amount                            17.8
Name: 0, dtype: object

In [65]:
# how to solve the copy on write error in Pandas

df.loc[0, 'RateCodeID'] = 9

In [66]:
df.loc[0]

VendorID                                   2
tpep_pickup_datetime     2015-06-02 11:19:29
tpep_dropoff_datetime    2015-06-02 11:47:52
passenger_count                            1
trip_distance                           1.63
pickup_longitude                   -73.95443
pickup_latitude                    40.764141
RateCodeID                                 9
store_and_fwd_flag                         N
dropoff_longitude                 -73.974754
dropoff_latitude                   40.754093
payment_type                               2
fare_amount                             17.0
extra                                    0.0
mta_tax                                  0.5
tip_amount                               0.0
tolls_amount                             0.0
improvement_surcharge                    0.3
total_amount                            17.8
Name: 0, dtype: object

# Sorting

- `sort_index`
- `sort_values`

In [68]:
df = df.set_index('tpep_pickup_datetime')
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,9,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [69]:
df.loc['2015-06-02 11:19:29':'2015-06-02 11:19:30']

KeyError: "Cannot get left slice bound for non-unique label: '2015-06-02 11:19:29'"